/* Responsive Styles */
/* Small Mobile Devices (576px and down) */
@media (max-width: 576px) {
    #about-page-callouts {
        color: white;
    }
} 

/* Mobile Devices (576px and up) */
@media (min-width: 576px) {
    #about-page-callouts {
        color: black;
    }
} 

/* Small Devices (768px and up) */
@media (min-width: 768px) {
    #about-page-callouts {
        color: black;
    }
} 

/* Medium devices (tablets and large phones, 992px and up) */
@media (min-width: 992px) {
    #about-page-callouts {
        color: black;
    }
} 

/* Large devices (1200px and up) */
@media (min-width: 1200px) {
    #about-page-callouts {
        color: black;
    }
}
