/* CSS Document */

/* Non-Responsive Styles */
.title {
	font-size: 25px; 
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-align: center;
}

.caption {
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
}

.links {
	text-decoration: none;
	color:lightgray;
}

.links:hover {
	color:white;
	text-decoration: none;
}

.links:visited {
	color:lightgray;
	text-decoration: none;
}

.header-group {
	flex: none;
}

.footer-group {
	flex-shrink: 0;
}

.content-wrapper {
	flex: 1 0 auto;
}

.clearfix {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
	overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
}

html {
  overflow: scroll;
}


/* Responsive Styles */
/* Small Mobile Devices (576px and down) */
@media (max-width: 576px) {
	#desktop-footer {
		display: none;
	}
	#mobile-footer {
		display: block;
	}
	#header-branding {
		font-size: 9vw;
	}
	#home-nav {
		font-weight: 100;
		font-size: 35px;
	}
	#services-dropdown-nav {
		font-size: 35px;
	}
	.services-sub-nav {
		font-size: 5.5vw;
	}
	.header-nav {
		font-size: 35px;
	}
	.testimonial-button {
		width: 90%;
	}
	.testimonial {
		font-size: 20px; 
		vertical-align: middle;
	}
	.light-title {
		font-size: 45px; 
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
	}
	.body-text {
		font-size: 27.5px; 
	}
	.top-image-wrapper {
		height: 350px;
		position:relative; 
		text-align:center;
		overflow:hidden
	}
	.top-image {
		transform: translateX(-700px);
		height: 100%;
	}
	.accordion-header {
        font-size: 20px;
        color:#206471;
	}
	.page-title {
		font-size: 27px;
	}
} 

/* Mobile Devices (576px and up) */
@media (min-width: 576px) {
	#desktop-footer {
		display: none;
	}
	#mobile-footer {
		display: block;
	}
	#header-branding {
		font-size: 40px;
	}
	#home-nav {
		font-weight: 100;
		font-size: 35px;
	}
	#services-dropdown-nav {
		font-size: 35px;
	}
	.services-sub-nav {
		font-size: 35px;
	}
	.header-nav {
		font-size: 35px;
	}
	.testimonial-button {
		width: auto;
	}
	.testimonial {
		font-size: 16px; 
		vertical-align: middle;
	}
	.light-title {
		font-size: 45px; 
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
	}
	.body-text {
		font-size: 27.5px; 
	}
	.top-image-wrapper {
		height: 350px;
		position:relative; 
		text-align:center;
		overflow:hidden
	}
	.top-image {
		transform: translateX(-450px);
		height: 100%;
	}
	.accordion-header {
        font-size: 20px;
        color:#206471;
	}
	.page-title {
		font-size: 27px;
	}
} 

/* Small Devices (768px and up) */
@media (min-width: 768px) {
	#desktop-footer {
		display: none;
	}
	#mobile-footer {
		display: block;
	}
	#header-branding {
		font-size: 35px;
	}
	#home-nav {
		font-weight: 100;
		font-size: 33px;
	}
	#services-dropdown-nav {
		font-size: 33px;
	}
	.services-sub-nav {
		font-size: 33px;
	}
	.header-nav {
		font-size: 33px;
	}
	.testimonial-button {
		width: auto;
	}
	.testimonial {
		font-size: 19px; 
		vertical-align: middle;
	}
	.light-title {
		font-size: 40px; 
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
	}
	.body-text {
		font-size: 27.5px; 
	}
	.top-image-wrapper {
		height: 350px;
		position:relative; 
		text-align:center;
		overflow:hidden
	}
	.top-image {
		transform: translateX(-250px);
		height: 100%;
	}
	.accordion-header {
        font-size: 20px;
        color:#206471;
	}
	.page-title {
		font-size: 30px;
	}
} 

/* Medium devices (tablets and large phones, 992px and up) */
@media (min-width: 992px) {
	#desktop-footer {
		display: none;
	}
	#mobile-footer {
		display: block;
	}
	#header-branding {
		font-size: 30px;
	}
	#home-nav {
		font-weight: 100;
		font-size: 20px;
	}
	#services-dropdown-nav {
		font-size: 20px;
	}
	.services-sub-nav {
		font-size: 20px;
	}
	.header-nav {
		font-size: 20px;
	}
	.testimonial-button {
		width: auto;
	}
	.testimonial {
		font-size: 23px; 
		vertical-align: middle;
	}
	.light-title {
		font-size: 43px; 
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
	}
	.body-text {
		font-size: 27px; 
	}
	.top-image-wrapper {
		height:300px;
		position:relative; 
		text-align:center;
		overflow:hidden
	}
	.top-image {
		transform: translateX(0px);
		height: 100%;
	}
	.accordion-header {
        font-size: 17px;
        color:#206471;
	}
	.page-title {
		font-size: 40px;
	}
} 

/* Large devices (1200px and up) */
@media (min-width: 1200px) {
	#desktop-footer {
		display: block;
	}
	#mobile-footer {
		display: none;
	}
	#header-branding {
		font-size: 25px;
	}
	#home-nav {
		font-weight: 100;
		font-size: 20px;
	}
	#services-dropdown-nav {
		font-size: 20px;
	}
	.services-sub-nav {
		font-size: 20px;
	}
	.header-nav {
		font-size: 20px;
	}
	.testimonial-button {
		width: auto;
	}
	.testimonial {
		font-size: 26px; 
		vertical-align: middle;
	}
	.light-title {
		font-size: 40px; 
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
	}
	.body-text {
		font-size: 25px; 
	}
	.top-image-wrapper {
		height:300px;
		position:relative; 
		text-align:center;
		width: 100%;
		overflow:hidden
	}
	.top-image {
		transform: translateX(0px);
		min-height: 100%;
		min-width: 100%;
	}
	.accordion-header {
        font-size: 17px;
        color:#206471;
	}
	.page-title {
		font-size: 34px;
	}
}

