/* CSS Document */
/* Non-responsive Styles */
.nav-pills>.nav-item>.active {
    background-color:#206471;
}

.nav-pills>.nav-item>a {
    color:#206471;
}

/* Responsive Styles */
/* Small Mobile Devices (576px and up) */
@media (max-width: 576px) {
    .services-nav-tab {
        font-size: 4vw;
    }

} 

/* Mobile Devices (576px and down) */
@media (min-width: 576px) {
    .services-nav-tab {
        font-size: 15px;
    }
} 

/* Small Devices (768px and up) */
@media (min-width: 768px) {
    .services-nav-tab {
        font-size: 20px;
    }
} 

/* Medium devices (tablets and large phones, 992px and up) */
@media (min-width: 992px) {
    .services-nav-tab {
        font-size: 25px;
    }
} 

/* Large devices (1200px and up) */
@media (min-width: 1200px) {
    .services-nav-tab {
        font-size: 25px;
    }
}
