/* CSS Document */

/* Non-Responsive Styles */
.dot {
  	cursor:pointer;
 	height: 15px;
  	width: 15px;
  	margin: 0 2px;
  	background-color: #bbb;
 	border-radius: 50%;
  	display: inline-block;
  	transition: background-color 0.6s ease;
}


.slideshow-content {
	display: none;
}

/* Responsive Styles */
/* Small Mobile Devices (576px and down) */
@media (max-width: 576px) {
	.callouts-text {
		position: absolute; 
		top: 50%; left: 10%; 
		transform: translate(-5%, -50%); 
		font-size: 30px;
		color: white;
		text-shadow: 1px 1px #000000;
	}
	
	.staff-title {
		font-size: 25px;
	}
	
	.staff-text{
		font-size: 4.2vw;
	}

	#slideshow-wrapper {
		max-height: 2500em;
		position: relative;
		margin: 5px 0 5px 0;
	}

	.slideshow-content {
		height: 300px;
	}

	.slideshow-img {
		transform: translateX(-750px);
		height: 100%;
	}

	.staff-card-title {
		font-size: 25px;
		color:#206471;
	}
} 

/* Mobile Devices (576px and up) */
@media (min-width: 576px) {
	.callouts-text {
		position: absolute; 
		top: 50%; left: 10%; 
		transform: translate(-5%, -50%); 
		font-size: 30px;
		color: white;
		text-shadow: 1px 1px #000000;
	}
	
	.staff-title {
		font-size: 4vw;
	}
	
	.staff-text{
		font-size: 3vw;
	}

	#slideshow-wrapper {
		max-height: 2500em;
		position: relative;
		margin: 5px 0 5px 0;
	}

	.slideshow-content {
		height: 300px;
	}

	.slideshow-img {
		transform: translateX(-750px);
		height: 100%;
	}

	.staff-card-title {
		font-size: 25px;
		color:#206471;
	}
} 

/* Small Devices (768px and up) */
@media (min-width: 768px) {
	.callouts-text{
		position: absolute; 
		top: 50%; left: 10%; 
		transform: translate(-5%, -50%); 
		font-size: 30px;
		color: white;
		text-shadow: 1px 1px #000000;
	}
	
	.staff-title {
		font-size: 4vw;
	}
	
	.staff-text {
		font-size: 2vw;
	}

	#slideshow-wrapper {
		max-height: 2500em;
		position: relative;
		 margin: 5px 0 5px 0;
	}

	.slideshow-content {
		height: 350px;
	}

	.slideshow-img {
		transform: translateX(-750px);
		height: 100%;
	}

	.staff-card-title {
		font-size: 23px;
		color:#206471;
	}
} 

/* Medium devices (tablets and large phones, 992px and up) */
@media (min-width: 992px) {
	.callouts-text{
		position: absolute; 
		top: 50%; left: 10%; 
		transform: translate(-10%, -50%); 
		font-size: 27px;
		color: white;
		text-shadow: 1px 1px #000000;
	}
	
	.staff-title {
		font-size: 3vw;
	}
	
	.staff-text{
		font-size: 1.6vw;
	}

	#slideshow-wrapper {
		max-height: 2500em;
		position: relative;
		margin: 5px 0 5px 0;
	}

	.slideshow-content {
		height: 300px;
	}

	.slideshow-img {
		transform: translateX(-300px);
		height: 100%;
	}

	.staff-card-title {
		font-size: 20px;
		color:#206471;
	}
} 

/* Large devices (1200px and up) */
@media (min-width: 1200px) {
	.callouts-text{
		position: absolute; 
		top: 50%; left: 10%; 
		transform: translate(-20%, -50%); 
		font-size: 30px;
		color: white;
		text-shadow: 1px 1px #000000;
	}
	
	.staff-title {
		font-size: 2vw;
	}
	
	.staff-text{
		font-size: 1.3vw;
	}

	#slideshow-wrapper {
		max-height: 2500em;
		position: relative;
		margin: 5px 0 5px 0;
	}
	.slideshow-content {
		height: auto;
	}

	.slideshow-img {
		transform: translateX(0px);
		width: 100%;
	}

	.staff-card-title {
		font-size: 17px;
		color:#206471;
	}
}
