/* Responsive Styles */
/* Small Mobile Devices (576px and down) */
@media (max-width: 576px) {

} 

/* Mobile Devices (576px and up) */
@media (min-width: 576px) {

} 

/* Small Devices (768px and up) */
@media (min-width: 768px) {

} 

/* Medium devices (tablets and large phones, 992px and up) */
@media (min-width: 992px) {

} 

/* Large devices (1200px and up) */
@media (min-width: 1200px) {

}
