/* Responsive Styles */
/* Small Mobile Devices (576px and down) */
@media (max-width: 576px) {
    .services-header {
        font-size: 14px;
    }

    .services-sub {
        font-size: 14px;
    }

    .services-btn {
        font-size: 12px;
    }
} 

/* Mobile Devices (576px and up) */
@media (min-width: 576px) {
    .services-header {
        font-size: 20px;
    }

    .services-sub {
        font-size: 15px;
    }

    .services-btn {
        font-size: 15px;
    }
} 

/* Small Devices (768px and up) */
@media (min-width: 768px) {
    .services-header {
        font-size: 25px;
    }

    .services-sub {
        font-size: 20px;
    }

    .services-btn {
        font-size: 17px;
    }
} 

/* Medium devices (tablets and large phones, 992px and up) */
@media (min-width: 992px) {
    .services-header {
        font-size: 30px;
    }

    .services-sub {
        font-size: 23px;
    }

    .services-btn {
        font-size: 20px;
    }
} 

/* Large devices (1200px and up) */
@media (min-width: 1200px) {
    .services-header {
        font-size: 30px;
    }

    .services-sub {
        font-size: 23px;
    }

    .services-btn {
        font-size: 20px;
    }
}
