.banner{
    padding: 10px 10px;
    background: #efefef;
    margin-top: 30px;
}
.example{
    width:100%;
    height:21px;
    overflow:hidden;
}
/*.example ul{
    overflow: hidden;
    margin-bottom: 10px;
}
.example ul:last-child{
    margin-bottom: 0;
}*/
.example ul li {
    float:left;
/*  width:98%;
    padding: 5px 1%;*/
    margin-left: 30px;
    line-height: 20px;
    font-size: 16px;
    display: block;
}
.example ul li:first-child{
    margin-left: 0;
}