﻿/*	ACCORDION */
.accrodation { width: 100%; }
.acc-trigger { cursor: pointer; display: block; margin: 0 0 0 0; width: 100%;	}
.acc-trigger:last-of-type, .acc-container:last-of-type { margin-bottom: 20px; }
.no-js .acc-trigger:last-of-type { border-bottom: none; }
.acc-trigger a { background: url(../../images/accordion-ico.png) no-repeat 20px 13px; display: block; padding: 11px 20px 11px 50px; text-decoration: none; text-shadow: none; font-family: 'Open Sans'; font-size: 14px; font-weight: 600; color: #727272; border: 1px solid #eee; border-bottom: 1px solid #eee;}
.acc-trigger a:hover { background-color: #eee;  }
.acc-trigger a:hover, .acc-trigger.active a, .acc-trigger.active a:hover { color: #47738b; border-bottom: 1px solid #fff;  }
.acc-trigger.active a:hover { background-color: transparent; }
.acc-trigger.active { cursor: default; background:#fff;}
.acc-trigger.active:last-of-type { border-bottom: none; margin-bottom: 0; }
.acc-trigger.active a { background-position: 20px -58px; cursor: default;	}
.acc-container .content {  padding: 0px 14px 15px 50px; color: #000;  margin-bottom: 4px; background-color: #fff; border: 1px solid #eee; border-top: 0px solid #eee;  }
