
	ul.tabs-two li {
		padding: 0;
		margin: 0 0 0 0px;
		min-height: 45px;
		line-height: 45px;
 		border-left: none;
		margin-bottom: -1px;
		overflow: hidden;
		position: relative;
		border-bottom: 1px solid #ddd;
        list-style-type: circle;
 	}
	ul.tabs-two li a {
		text-decoration: none;
		color: #454545;
		display: block;
		font-size: 12px;
		text-transform: uppercase;
 		outline: none;
 		cursor: pointer;
		text-align: left;
		padding: 0px 15px 0px 15px;
		background-color: #eee;
		width: 90px;
		font-style: normal;
		border-bottom: 1px solid #fff;
		font-family: 'Open Sans' !important;
		font-weight: 600;
	}
	ul.tabs-two li a:hover {
 	}
 	
	html ul.tabs-two li.active, html ul.tabs-two li.active a,  html ul.tabs-two li.active a:hover  {
		color:#47738b;
		background-color: #fff;
		height: 44px;
 	}


#tabs-two.fullpage {
	padding:0px;
	float:left;
	clear:both;
	width: 100%;
}
ul.tabs-two.fullpage {
	margin: 0;
	padding: 0;
	float: left;
	list-style: circle;
	min-height: 45px;
 	width: 13%;
	background: #eee;
}
.tab-container-two.fullpage {
 	overflow: hidden;
	float: left; 
	padding: 30px;
	width: 80.9%;
	background-color: #fff;
	border-bottom: 3px solid #eee;
	border-right: 1px solid #eee;
	border-top: 1px solid #eee;
}

ul.tabs-two.fullpage li a {
	text-decoration: none;
	color: #727272;
	display: block;
	font-size: 12px;
	text-transform: uppercase;
 	outline: none;
 	cursor: pointer;
	text-align: left;
	padding: 0px 10px 0px 10px;
	background-color: #eee;
	width: 85px;
	border-bottom: 1px solid #fff;
}


@media only screen and (min-width: 980px) and (max-width: 1200px){


#tabs-two.fullpage {
	padding:0px;
	float:left;
	clear:both;
	width: 100%;
}
ul.tabs-two.fullpage {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	min-height: 45px;
 	width: 15%;
	background: #eee;
}
.tab-container-two.fullpage {
 	overflow: hidden;
	float: left; 
	padding: 30px;
	width: 76%;
	background-color: #fff;
	border-bottom: 3px solid #eee;
	border-right: 1px solid #eee;
	border-top: 1px solid #eee;
}



}


@media only screen and (min-width: 750px) and (max-width: 980px){

#tabs-two.fullpage {
	padding:0px;
	float:left;
	clear:both;
	width: 100%;
}
ul.tabs-two.fullpage {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	min-height: 45px;
 	width: 20%;
	background: #eee;
}
.tab-container-two.fullpage {
 	overflow: hidden;
	float: left; 
	padding: 30px;
	width: 67%;
	background-color: #fff;
	border-bottom: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	border-top: 1px solid #eee;
}

ul.tabs-two.fullpage li a {
	text-decoration: none;
	color: #727272;
	display: block;
	font-size: 11px;
	text-transform: uppercase;
 	outline: none;
 	cursor: pointer;
	text-align: left;
	padding: 0px 10px 0px 10px;
	background-color: #eee;
	width: 85px;
	border-bottom: 1px solid #fff;
}


}


@media only screen and (min-width: 479px) and (max-width: 750px){

#tabs-two.fullpage {
	padding:0px;
	float:left;
	clear:both;
	width: 100%;
}
ul.tabs-two.fullpage {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	min-height: 45px;
 	width: 28%;
	background: #eee;
}
.tab-container-two.fullpage {
 	overflow: hidden;
	float: left; 
	padding: 10px 20px 10px 10px;
	width:60%;
	background-color: #fff;
	border-bottom: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	border-top: 1px solid #eee;
}

ul.tabs-two.fullpage li a {
	text-decoration: none;
	color: #727272;
	display: block;
	font-size: 10px;
	text-transform: uppercase;
 	outline: none;
 	cursor: pointer;
	text-align: left;
	padding: 0px 10px 0px 10px;
	background-color: #eee;
	width: 85px;
	border-bottom: 1px solid #fff;
}


}


@media only screen and (max-width: 479px){

        #tabs-two.fullpage {
            padding:0px;
            float:left;
            clear:both;
            width: 100%;
        }
        ul.tabs-two.fullpage {
            margin: 0;
            padding: 0;
            float: left;
            list-style: none;
            min-height: 45px;
            width: 33%;
            background: #eee;
        }
        .tab-container-two.fullpage {
            overflow: hidden;
            float: left;
            padding: 10px 20px 10px 10px;
            width:50%;
            background-color: #fff;
            border-bottom: 1px solid #dcdcdc;
            border-right: 1px solid #dcdcdc;
            border-top: 1px solid #eee;
        }

        ul.tabs-two.fullpage li a {
            text-decoration: none;
            color: #727272;
            display: block;
            font-size: 10px;
            text-transform: uppercase;
            outline: none;
            cursor: pointer;
            text-align: left;
            padding: 0px 10px 0px 10px;
            background-color: #eee;
            width: 85px;
            border-bottom: 1px solid #fff;
        }


    }

/*first*/




    ul.tabs-two-f li {
        padding: 0;
        margin: 0 0 0 0px;
        min-height: 45px;
        line-height: 45px;
        border-left: none;
        margin-bottom: -1px;
        overflow: hidden;
        position: relative;
        border-bottom: 1px solid #ddd;
    }
    ul.tabs-two-f li a {
        text-decoration: none;
        color: #454545;
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        outline: none;
        cursor: pointer;
        text-align: left;
        padding: 0px 15px 0px 15px;
        background-color: #eee;
        width: 90px;
        font-style: normal;
        border-bottom: 1px solid #fff;
        font-family: 'Open Sans' !important;
        font-weight: 600;
    }
    ul.tabs-two-f li a:hover {
    }

    html ul.tabs-two-f li.active, html ul.tabs-two-f li.active a,  html ul.tabs-two-f li.active a:hover  {
        color:#47738b;
        background-color: #fff;
        height: 44px;
    }


    #tabs-two-f.fullpage {
        padding:0px;
        float:left;
        clear:both;
        width: 100%;
    }
    ul.tabs-two-f.fullpage {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
        min-height: 45px;
        width: 13%;
        background: #eee;
    }
    .tab-container-two-f.fullpage {
        overflow: hidden;
        float: left;
        padding: 30px;
        width: 80.9%;
        background-color: #fff;
        border-bottom: 3px solid #eee;
        border-right: 1px solid #eee;
        border-top: 1px solid #eee;
    }

    ul.tabs-two-f.fullpage li a {
        text-decoration: none;
        color: #727272;
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        outline: none;
        cursor: pointer;
        text-align: left;
        padding: 0px 10px 0px 10px;
        background-color: #eee;
        width: 85px;
        border-bottom: 1px solid #fff;
    }


    @media only screen and (min-width: 980px) and (max-width: 1200px){


        #tabs-two-f.fullpage {
            padding:0px;
            float:left;
            clear:both;
            width: 100%;
        }
        ul.tabs-two-f.fullpage {
            margin: 0;
            padding: 0;
            float: left;
            list-style: none;
            min-height: 45px;
            width: 15%;
            background: #eee;
        }
        .tab-container-two-f.fullpage {
            overflow: hidden;
            float: left;
            padding: 30px;
            width: 76%;
            background-color: #fff;
            border-bottom: 3px solid #eee;
            border-right: 1px solid #eee;
            border-top: 1px solid #eee;
        }



    }


    @media only screen and (min-width: 750px) and (max-width: 980px){
        #tabs-two-f.fullpage {
            padding:0px;
            float:left;
            clear:both;
            width: 100%;
        }
        ul.tabs-two-f.fullpage {
            margin: 0;
            padding: 0;
            float: left;
            list-style: none;
            min-height: 45px;
            width: 20%;
            background: #eee;
        }
        .tab-container-two-f.fullpage {
            overflow: hidden;
            float: left;
            padding: 30px;
            width: 67%;
            background-color: #fff;
            border-bottom: 1px solid #dcdcdc;
            border-right: 1px solid #dcdcdc;
            border-top: 1px solid #eee;
        }

        ul.tabs-two-f.fullpage li a {
            text-decoration: none;
            color: #727272;
            display: block;
            font-size: 11px;
            text-transform: uppercase;
            outline: none;
            cursor: pointer;
            text-align: left;
            padding: 0px 10px 0px 10px;
            background-color: #eee;
            width: 85px;
            border-bottom: 1px solid #fff;
        }


    }


    @media only screen and (min-width: 479px) and (max-width: 750px){

        #tabs-two-f.fullpage {
            padding:0px;
            float:left;
            clear:both;
            width: 100%;
        }
        ul.tabs-two-f.fullpage {
            margin: 0;
            padding: 0;
            float: left;
            list-style: none;
            min-height: 45px;
            width: 28%;
            background: #eee;
        }
        .tab-container-two-f.fullpage {
            overflow: hidden;
            float: left;
            padding: 10px 20px 10px 10px;
            width:60%;
            background-color: #fff;
            border-bottom: 1px solid #dcdcdc;
            border-right: 1px solid #dcdcdc;
            border-top: 1px solid #eee;
        }

        ul.tabs-two-f.fullpage li a {
            text-decoration: none;
            color: #727272;
            display: block;
            font-size: 10px;
            text-transform: uppercase;
            outline: none;
            cursor: pointer;
            text-align: left;
            padding: 0px 10px 0px 10px;
            background-color: #eee;
            width: 85px;
            border-bottom: 1px solid #fff;
        }


    }


    @media only screen and (max-width: 479px){

        #tabs-two-f.fullpage {
            padding:0px;
            float:left;
            clear:both;
            width: 100%;
        }
        ul.tabs-two-f.fullpage {
            margin: 0;
            padding: 0;
            float: left;
            list-style: none;
            min-height: 45px;
            width: 33%;
            background: #eee;
        }
        .tab-container-two-f.fullpage {
            overflow: hidden;
            float: left;
            padding: 10px 20px 10px 10px;
            width:50%;
            background-color: #fff;
            border-bottom: 1px solid #dcdcdc;
            border-right: 1px solid #dcdcdc;
            border-top: 1px solid #eee;
        }

        ul.tabs-two-f.fullpage li a {
            text-decoration: none;
            color: #727272;
            display: block;
            font-size: 10px;
            text-transform: uppercase;
            outline: none;
            cursor: pointer;
            text-align: left;
            padding: 0px 10px 0px 10px;
            background-color: #eee;
            width: 85px;
            border-bottom: 1px solid #fff;
        }


    }




/*second*/
    ul.tabs-two-s li {
        padding: 0;
        margin: 0 0 0 0px;
        min-height: 45px;
        line-height: 45px;
        border-left: none;
        margin-bottom: -1px;
        overflow: hidden;
        position: relative;
        border-bottom: 1px solid #ddd;
    }
    ul.tabs-two-s li a {
        text-decoration: none;
        color: #454545;
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        outline: none;
        cursor: pointer;
        text-align: left;
        padding: 0px 15px 0px 15px;
        background-color: #eee;
        width: 90px;
        font-style: normal;
        border-bottom: 1px solid #fff;
        font-family: 'Open Sans' !important;
        font-weight: 600;
    }
    ul.tabs-two-s li a:hover {
    }

    html ul.tabs-two-s li.active, html ul.tabs-two-s li.active a,  html ul.tabs-two-s li.active a:hover  {
        color:#47738b;
        background-color: #fff;
        height: 44px;
    }


    #tabs-two-s.fullpage {
        padding:0px;
        float:left;
        clear:both;
        width: 100%;
    }
    ul.tabs-two-s.fullpage {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none;
        min-height: 45px;
        width: 13%;
        background: #eee;
    }
    .tab-container-two-s.fullpage {
        overflow: hidden;
        float: left;
        padding: 30px;
        width: 80.9%;
        background-color: #fff;
        border-bottom: 3px solid #eee;
        border-right: 1px solid #eee;
        border-top: 1px solid #eee;
    }

    ul.tabs-two-s.fullpage li a {
        text-decoration: none;
        color: #727272;
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        outline: none;
        cursor: pointer;
        text-align: left;
        padding: 0px 10px 0px 10px;
        background-color: #eee;
        width: 85px;
        border-bottom: 1px solid #fff;
    }


    @media only screen and (min-width: 980px) and (max-width: 1200px){


        #tabs-two-s.fullpage {
            padding:0px;
            float:left;
            clear:both;
            width: 100%;
        }
        ul.tabs-two-s.fullpage {
            margin: 0;
            padding: 0;
            float: left;
            list-style: none;
            min-height: 45px;
            width: 15%;
            background: #eee;
        }
        .tab-container-two-s.fullpage {
            overflow: hidden;
            float: left;
            padding: 30px;
            width: 76%;
            background-color: #fff;
            border-bottom: 3px solid #eee;
            border-right: 1px solid #eee;
            border-top: 1px solid #eee;
        }



    }


    @media only screen and (min-width: 750px) and (max-width: 980px){

        #tabs-two-s.fullpage {
            padding:0px;
            float:left;
            clear:both;
            width: 100%;
        }
        ul.tabs-two-s.fullpage {
            margin: 0;
            padding: 0;
            float: left;
            list-style: none;
            min-height: 45px;
            width: 20%;
            background: #eee;
        }
        .tab-container-two-s.fullpage {
            overflow: hidden;
            float: left;
            padding: 30px;
            width: 67%;
            background-color: #fff;
            border-bottom: 1px solid #dcdcdc;
            border-right: 1px solid #dcdcdc;
            border-top: 1px solid #eee;
        }

        ul.tabs-two-s.fullpage li a {
            text-decoration: none;
            color: #727272;
            display: block;
            font-size: 11px;
            text-transform: uppercase;
            outline: none;
            cursor: pointer;
            text-align: left;
            padding: 0px 10px 0px 10px;
            background-color: #eee;
            width: 85px;
            border-bottom: 1px solid #fff;
        }


    }


    @media only screen and (min-width: 479px) and (max-width: 750px){

        #tabs-two-s.fullpage {
            padding:0px;
            float:left;
            clear:both;
            width: 100%;
        }
        ul.tabs-two-s.fullpage {
            margin: 0;
            padding: 0;
            float: left;
            list-style: none;
            min-height: 45px;
            width: 28%;
            background: #eee;
        }
        .tab-container-two-s.fullpage {
            overflow: hidden;
            float: left;
            padding: 10px 20px 10px 10px;
            width:60%;
            background-color: #fff;
            border-bottom: 1px solid #dcdcdc;
            border-right: 1px solid #dcdcdc;
            border-top: 1px solid #eee;
        }

        ul.tabs-two-s.fullpage li a {
            text-decoration: none;
            color: #727272;
            display: block;
            font-size: 10px;
            text-transform: uppercase;
            outline: none;
            cursor: pointer;
            text-align: left;
            padding: 0px 10px 0px 10px;
            background-color: #eee;
            width: 85px;
            border-bottom: 1px solid #fff;
        }


    }


    @media only screen and (max-width: 479px){

        #tabs-two-s.fullpage {
            padding:0px;
            float:left;
            clear:both;
            width: 100%;
        }
        ul.tabs-two-s.fullpage {
            margin: 0;
            padding: 0;
            float: left;
            list-style: none;
            min-height: 45px;
            width: 33%;
            background: #eee;
        }
        .tab-container-two-s.fullpage {
            overflow: hidden;
            float: left;
            padding: 10px 20px 10px 10px;
            width: 50%;
            background-color: #fff;
            border-bottom: 1px solid #dcdcdc;
            border-right: 1px solid #dcdcdc;
            border-top: 1px solid #eee;
        }

        ul.tabs-two-s.fullpage li a {
            text-decoration: none;
            color: #727272;
            display: block;
            font-size: 10px;
            text-transform: uppercase;
            outline: none;
            cursor: pointer;
            text-align: left;
            padding: 0px 10px 0px 10px;
            background-color: #eee;
            width: 85px;
            border-bottom: 1px solid #fff;
        }


    }

