/*-----------------------------------------------------------------------------

REVOLUTION RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	26/06/12
author:		themepunch
email:     	support@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/


  /*********************************************************************************************
		-	SET THE SCREEN SIZES FOR THE BANNER IF YOU WISH TO MAKE THE BANNER RESOPONSIVE 	-
  **********************************************************************************************/

  /*	-	THE BANNER CONTAINER (Padding, Shadow, Border etc. )	-	*/


	 .fullwidthbanner-container{
		width:100% !important;
		position:relative;
		padding:0;
		margin-top: 0px;
		max-height: 500px !important;
		overflow:hidden;
		z-index: 998;
		background-color: #f3f3f3;
	}
	.fullwidthbanner-container .fullwidthbanner{
		width:100% !important;
		position:relative;
		padding:0;
		margin-top: 0px;
		max-height: 380px !important;
		overflow:hidden;
	}
	

@media only screen and (min-width: 1000px) and (max-width: 1169px){

	.fullwidthbanner-container{
		height: 438px !important;
	}


}
