/* Responsive CSS Styles Table of Contents */

@media only screen and (min-width: 1000px) and (max-width: 1169px){

.container {
	width: 1000px;
	margin: auto auto auto auto;
}

#access .menu ul li a {
	padding: 32px 14px 32px 14px;
}
#access .menu ul li a:hover {
	padding: 32px 14px 32px 14px;
} 
#access .menu ul li a.active {
	padding: 32px 14px 32px 14px;
}

a.button_slider {
	padding: 10px 12px;
}

.layout2_fusection1 .right {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.layout2_fusection1 .right h4 {
	font-size: 16px;
}

.layout2_fusection2 .left_sec {
	background-size: 100%;
	font-size: 22px;
}

.layout2_fusection2 .left_sec .one {
	width: 110px;
	padding: 55px 10px 0px 10px;
	margin-left: 75px;
	line-height: 30px;
}
.layout2_fusection2 .left_sec .two {
	width: 94px;
	padding: 40px 10px 0px 10px;
	line-height: 27px;
}
.layout2_fusection2 .left_sec .three {
	width: 220px;
	padding: 16px 20px 0px 20px;
	line-height: 30px;
}

.four_col_fusection .one_fourth {
	margin-right: 1.3%;
}
.four_col_fusection .one_fourth i {
	margin-left: 55px;
}

.our_team_box_big ul {
	width: 215px;
}
.our_team_box_big  img.teammempic {
	width: 215px;
}

.our_team_box ul {
	width: 165px;
}
.our_team_box .boxleft {
	width: 165px;
	margin: 0px 16px 0 0;
}
.our_team_box .boxright {
	width: 165px;
}

.one_fourth .portfolio_image {
	width: 93%;
}

.portfolio_page .imgWrap {
    position: relative;
    width: 325px;
}
.portfolio_page h3 {
	width: 325px;
}
.portfolio_page .imgDescription i {
	left: 140px;
}

ul.post_meta_links {
	margin: -10px 0px 0px 10.3%;
	width: 80%;
}




}


@media only screen and (min-width: 768px) and (max-width: 999px){
.container {
	width: 747px;
	margin: auto auto auto auto;
}

#access .menu ul li a {
	padding: 32px 4px 32px 4px;
	font-size: 13px;
}
#access .menu ul li a:hover {
	padding: 32px 4px 32px 4px;
} 
#access .menu ul li a.active {
	padding: 32px 4px 32px 4px;
}

a.button_slider {
	padding: 5px 14px;
	font-size: 12px;
}

.layout2_fusection1 .right {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.layout2_fusection1 .right h4 {
	padding: 20px 20px 0px 20px;
	font-size: 16px;
}
.layout2_fusection1 .right h1 {
	margin: 0px 0px 16px 0px;
	font-size: 27px;
}

.layout2_fusection2 .left_sec {
	float: left;
	width: 56%;
	margin-right: 0%;
	margin-left: 148px;
	margin-bottom: 30px;
}
.layout2_fusection2 .right_sec {
	float: left;
	width: 100%;
}
.layout2_fusection2 .right_sec h2 {
	text-align: center;
}

.four_col_fusection .one_fourth {
	margin-right: 1.1%;
}
.four_col_fusection .one_fourth i {
	margin-left: 27px;
}

.punchline_text_box {
	width: 93.5%;
}
.punchline_text_box .left {
	width: 70%;
}
.punchline_text_box .right {
	width: 30%;
}

.lirc_section li.right {
	width: 52%;
}

.get_features .get_features_list li.left {
	margin: 0px 5px 0px 0px;
	width: 40px;
	height: 40px;
	line-height: 48px;
}

.our_team_box_big  img.teammempic {
	width: 170px;
}
.our_team_box_big ul {
	width: 165px;
}
.our_team_box ul {
	margin: 0;
	padding: 7px 0 0 0px;
	float: left;
	width: 120px;
}
.our_team_box .boxleft {
	width: 120px;
	float: left;
	margin: 0px 14px 0 0;
}
.our_team_box .boxright {
	width: 120px;
	float: right;
	margin: 0px;
}

.box_widget_full {
	width: 95%;
}

.one_fourth .portfolio_image {
	width: 93%;
}

.portfolio_page .imgWrap {
    position: relative;
    width: 239px;
	height: 200px;
}
.portfolio_page .imgWrap img {
	float: left;
	width: 100%;
	height: 200px;
}
.portfolio_page h3 {
	width: 239px;
}
.portfolio_page .imgDescription i {
	top: 80px;
	left: 100px;
}

ul.post_meta_links {
	margin: -10px 0px 0px 14%;
	width: 80%;
}

.left_sidebar {
	width: 26%;
}
.right_sidebar {
	width: 26%;
}

ul.fullimage_box2 {
	width: 80%;
}

.framed-box-wrap .pricing-text-list {
	padding: 15px 13px 40px 13px;
}

.project_details strong {
	font-size: 11px;
}
.project_details span a {
	padding: 3px 4px;
	margin: 0px 0px 0px 1px;
	font-size: 10px;
}

.portfolio_image {
	width: 95%;
}
.portfolio_image .title {
	padding: 10px 19px 7px 10px;
}

#site-searchform #s{
	width: 62%;
}

.adsbanner-list li {
	width: 90px;
	height: 90px;
}
.adsbanner-list li img {
	width: 90px;
	height: 90px;
}
.adsbanner-list li.last {
	width: 90px;
	height: 90px;
}

.blog_post h3 {
	width: 83%;
}
.post_info_content {
	padding: 0px;
	margin: 0 0 0 15%;
	width: 85%;
	float: left;
}
.post_info_content_small {
	padding: 0px;
	margin: 0 0 0 2.5%;
	width: 51.7%;
	float: left;
}
.post_info_content_small a.date {
	float: left;
	margin: 0px 10px 0px 0px;
}
.post_info_content_small h3 {
	font-size: 18px;
	float: left;
	width: 70%;
}
ul.post_meta_links_small {
	float: left;
	margin: -15px 0px 12px 70px;
	padding: 0px 0px 0px 0px;
	width: 70%;
}
.blog_postcontent .video_frame iframe {
	height: 250px;
}

.about_author {
	width: 92%;
}

.comment_form {
	width: 100%;
}
.address-info {
	width: 88%;
}
.google-map {
	width: 96%;
}

a.show_hide{
	margin: 0px 0px 0px 720px;
}

.punchline_text_home h2 {
	width: 75%;
	margin: 0px 0px 0px 0px;
}
.punchline_text_home strong {
	width: 20%;
}

.site_boxedfeatures_two {
	width: 75%;
}
.site_boxedfeatures_two img {
	width: 100%;
}

.people_says .testi_monials li.left img {
	width: 90%;
}

.twitter_feeds {
	width: 87%;
	padding-left: 13%;
}



}




@media only screen and (min-width: 480px) and (max-width: 767px){
	
/* Disable menu */
#access .menu ul#tiny {display: none;}
/* Enable dropdown menu */
.selectnav {display: block;}
.selectnav {display: inline;}
#access .menu select {
	border: 1px solid #e3e3e3;
	border-top: 2px solid #e3e3e3;
	padding: 9px 9px 9px 9px;
	background-color: #fff;
	color: #333639;
	width: 360px;
	margin: -8px 40px 10px 0px;
	float: left;
}

#logo{
	background:url(../images/logo.png) no-repeat center bottom;
}


.container {
	width: 448px;
	margin: auto auto auto auto;
}

.content_left {
	float: left;
	width: 100%;
	padding: 40px 0px 0px 0px;
}
.content_fullwidth {
	float: left;
	width: 100%;
	padding: 40px 0px 0px 0px;
}
.right_sidebar {
	float: left;
	width: 100%;
	padding: 40px 0px 0px 0px;
}
.left_sidebar {
	float: left;
	width: 100%;
	padding: 40px 0px 0px 0px;
}
.content_right {
	float: left;
	width: 100%;
	padding: 40px 0px 0px 0px;
}

.one_full {
	width: 100%;
}
.one_half {
	width: 100%;
	margin-bottom: 30px;
}
.one_third {
	width: 100%;
	margin-bottom: 30px;
}
.one_fourth {
	width: 100%;
	margin-bottom: 30px;
}
.one_fifth {
	width: 100%;
	margin-bottom: 30px;
}
.two_third {
	width: 100%;
	margin-bottom: 30px;
}
.three_fourth {
	width: 100%;
	margin-bottom: 30px;
}
.last {
	margin-right: 0 !important;
	clear: right;
	margin-bottom: 0 !important;
}

.top_contact_info .left_sec {
	width: 25%;
	margin-right: 0%;
}
.top_contact_info .center_sec {
	width: 59%;
	margin-right: 0%;
}
.top_contact_info .right_sec {
	width: 16%;
}
.top_contact_info .right_sec .socials li em {
	display: none;
}
.top_contact_info .right_sec .socials li a {
	margin: 0px 0px 5px 5px;
}
.top_contact_info .left_sec ul.tci_list {
	margin: 20px 0px 0px 10px;
}
.top_contact_info .right_sec ul.socials {
	margin: 20px 10px 0px 0px;
}

a.button_slider {
	padding: 5px 5px;
	font-size: 10px;
	border-radius: 2px;
}

.tp-caption.medium_text{
	display: none;
}

.four_col_fusection .one_fourth {
	width: 85%;
	padding: 30px 7%;
	border-right: none;
	margin-bottom: 40px;
}
.four_col_fusection .one_fourth i {
	margin-left: 140px;
}

.footer .one_fourth{
	width: 100%;
	margin-right: 0%;
}

.copyright_info .one_half{
	width: 100%;
	margin-right: 0%;
}

ul.footer_social_links {
	float: left;
}

.about_site img {
	width: 99%;
}

.get_features ul.get_features_list {
	width: 100%;
}

.clients .jcarousel-skin-tango .jcarousel-item {
	margin-right: 10px;
}


.punchline_text_box {
	width: 90%;
}
.punchline_text_box .left {
	width: 100%;
}
.punchline_text_box .right {
	width: 100%;
	float: left;
}
.punchline_text_box .right a {
	float: left;
	margin: 10px 0px 0px 0px;
}

ul.fullimage_box2 {
	width: 90%;
}

.our_team_box_big  img.teammempic {
	width: 100%;
}
.our_team_box_big ul {
	width: 100%;
}

.our_team_box .boxleft {
	width: 100%;
	float: left;
	margin: 0px 0px 30px 0;
}
.our_team_box .boxright {
	width: 100%;
	float: left;
	margin: 0px;
}
.our_team_box ul {
	width: 100%;
}

ul.fullimage_box {
	float: left;
	padding: 0px;
	margin: 0px 0px 30px 0px;
	width: 100%;
}
ul.fullimage_box.last {
	float: left;
	width: 100%;
	margin-left: 0%;
}

.lirc_section li.left.two {
	margin: 0 0 0 43%;
}

.error_pagenotfound strong {
	font-size: 100px;
	line-height: 70px;
}
.error_pagenotfound b {
	font-size: 20px;
	line-height: 30px;
}
.error_pagenotfound em {
	font-size: 13px;
	font-weight: 600;
}
.error_pagenotfound p {
	font-size: 11px;
}

.portfolio_area_left {
	padding: 0px;
	margin: 0px 0px 30px 0px;
	width: 98%;
	float: left;
}
.portfolio_area_right {
	padding: 0px;
	margin: 0px 0px 0px 0px;
	width: 98%;
	float: left;
}
.project_details {
	padding: 0px;
	margin: 65px 0px 0px 0px;
}
.addto_favorites {
	float: left;
	margin: 15px 0px 0px 0px;
}
.addto_favorites:hover {
	float: left;
	margin: 15px 0px 0px 0px;
}
.portfolio_area_right ul.small_social_links {
	margin: 22px 0px 0px 170px;
}
.project_details span {
	padding: 4px 0px;
}
.project_details strong {
	width: 22%;
}

.blog_post h3 {
	font-size: 18px;
	float: left;
	width: 82%;
	line-height: 27px;
}
.blog_post a.date {
	float: left;
	margin-right: 15px;
}
.post_info_content {
	padding: 0px;
	margin: 0 0 0 0;
	width: 97%;
	float: left;
}
ul.post_meta_links {
	float: left;
	margin: -10px 0px 12px 72px;
	padding: 0px 0px 0px 0px;
	width: 80%;
}
.post_meta_links li.post_by {
	float: left;
	padding: 0px 0px 0px 18px;
	border-right: 1px solid #d3d3d3;
	background: url(../images/blog/icon-by-user.html) no-repeat 0px 5px;
}
.post_meta_links li.post_categoty {
	float: left;
	padding: 0px 0px 0px 25px;
	border-right: 1px solid #d3d3d3;
	background: url(../images/blog/icon-category.html) no-repeat 9px 6px;
}
.post_meta_links li.post_comments {
	float: left;
	padding: 0px 0px 0px 25px;
	background: url(../images/blog/icon-comments.html) no-repeat 9px 5px;
}
.post_meta_links li a {
	color: #a1a1a1;
	padding: 0px 10px 0px 0px;
	text-decoration: none;
	font-size: 11px;
}
.blog_postcontent .image_frame {
	float: left;
	width: 96%;
	border: 7px solid #eee;
	margin-bottom: 25px;
}
.blog_postcontent .video_frame iframe {
	float: left;
	width: 97%;
	height: 200px;
	border: 7px solid #ddd;
	margin-bottom: 25px;
}
.blog_postcontent .image_frame.small {
	float: left;
	width: 97%;
	border: 7px solid #ddd;
	margin-bottom: 25px;
}
.blog_postcontent .video_frame.small iframe {
	float: left;
	width: 97%;
	height: 200px;
	border: 7px solid #ddd;
	margin-bottom: 25px;
}
.post_info_content_small {
	padding: 0px;
	margin: 0;
	width: 99%;
	float: left;
}
ul.post_meta_links_small {
	float: left;
	margin: -15px 0px 12px 80px;
	padding: 0px 0px 0px 0px;
	width: 82%;
}

#site-searchform #s{
	width: 83%;
}

ul.adsbanner-list {
	width: 50%;
}
.adsbanner-list li {
	margin: 0px 10px 10px 0px;
	padding: 0px;
	float: left;
	width: 100px;
	height: 100px;
	list-style-type: none;
}
.adsbanner-list li.last {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	float: left;
	width: 100px;
	height: 100px;
	list-style-type: none;
}
.adsbanner-list li img {
	width: 100%;
	height: auto;
}

.about_author {
	width: 90%;
}

.comment_form {
	float: left;
	width: 100%;
	margin-top: 30px;
}
.comment_form label{
	float: left;
	width: 90px;
	height: 15px;
	padding: 7px 10px;
	margin-bottom: 20px;
}
.comment_input_bg {
	float: left;
	width: 68%;
	height: 25px;
	padding: 7px 10px 0px 10px;
	border-top: 2px solid #e3e3e3;
	border-left: 2px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.comment_textarea_bg {
	float: left;
	width: 94%;
	height: 235px;
	padding: 7px 10px 0px 10px;
	margin-bottom: 20px;
	border-top: 2px solid #e3e3e3;
	border-left: 2px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.comment_checkbox {
	float: left;
	display: block;
	width: 94%;
	margin-top: 10px;
}

.address-info {
	width: 90%;
}
.google-map {
	width: 97%;
}


.pricing-tables {width: 24.5%; }
.pricing-tables .title{ font-size: 12px; }
.pricing-tables .price{ font-size: 18px; }
.pricing-tables .price i{ font-size: 9px; margin-top: 0px; }
.pricing-tables-helight{position: relative;float: left; width: 24.5%; }
.pricing-tables-helight .title{ font-size: 12px; }
.pricing-tables-helight .price{ font-size: 18px; }
.pricing-tables-helight .price i{ font-size: 9px; margin-top: 0px; }

.pricing-tables-two {width: 33%; }
.pricing-tables-two .title{ font-size: 12px; }
.pricing-tables-two .price{ font-size: 18px; }
.pricing-tables-two .price i{ font-size: 9px; margin-top: 0px; }
.pricing-tables-helight-two{position: relative;float: left; width: 33%; }
.pricing-tables-helight-two .title{ font-size: 12px; }
.pricing-tables-helight-two .price{ font-size: 18px; }
.pricing-tables-helight-two .price i{ font-size: 9px; margin-top: 0px; }

.slidingDiv{
	height: 75px;
}
a.show_hide{
	margin: 0px 0px 0px 430px;
}

.punchline_text_home h2 {
	width: 74%;
	margin: 0px 0px 0px 0px;
}
.punchline_text_home strong {
	width: 25%;
}

.site_boxedfeatures_two {
	width: 85%;
}
.site_boxedfeatures_two img {
	width: auto;
}

.clients_logos_list li img {
	width: 80%;
}

.lirc_section li.right {
	width: 71%;
}

.layout2_fusection1 .left {
	width: 100%;
	margin-bottom: 40px;
}
.layout2_fusection1 .right {
	float: left;
	width: 62%;
	margin-left: 80px;
}
.layout2_fusection1 .left .one_fourth {
	width: 100%;
	margin-right: 0%;
	margin-bottom: 40px;
}

.layout2_fusection2 .left_sec {
	float: left;
	width: 100%;
	margin-right: 0%;
	margin-left: 0px;
	margin-bottom: 30px;
}
.layout2_fusection2 .left_sec .one {
	margin-left: 80px;
	margin-right: 70px;
}
.layout2_fusection2 .left_sec .two {
	width: 124px;
}
.layout2_fusection2 .left_sec .three {
	margin-left: 70px;
}
.layout2_fusection2 .right_sec {
	float: left;
	width: 100%;
}
.layout2_fusection2 .right_sec h2 {
	text-align: center;
}
.layout2_fusection2 .right_sec ul.ic_list1 {
	width: 94%;
}

.para_sec01 {
	padding: 20px 0px 0px 0px;
}
.para_sec01 b {
	margin-bottom: 13px;
}
.para_sec01 a {
	padding: 13px 22px;
	font-size: 16px;
}

.people_says .one_half {
	width: 100%;
	padding-right: 0%;
	margin-right: 0;
	margin-bottom: 0px;
	padding-bottom: 30px;
	border-right: 0px solid #eee;
	border-bottom: 1px solid #eee;
}
.people_says .one_half.last {
	width: 100%;
	padding-right: 0%;
	padding-left: 0%;
	border-right: 0px solid #fff;
	border-bottom: 0px;
}

.twitter_feeds {
	width: 78%;
	padding-left: 22%;
}



}





@media only screen and (max-width: 479px){

/* Disable menu */
#access .menu ul#tiny {display: none;}
/* Enable dropdown menu */
.selectnav {display: block;}
.selectnav {display: inline;}
#access .menu select {
	border: 1px solid #e3e3e3;
	border-top: 2px solid #e3e3e3;
	padding: 9px 9px 9px 9px;
	background-color: #fff;
	color: #333639;
	width: 220px;
	margin: -8px 40px 10px 0px;
	float: left;
}

#logo{
	background:url(../images/logo.png) no-repeat center bottom;
}

.container {
	width: 300px;
	margin: auto auto auto auto;
}

.content_left {
	float: left;
	width: 100%;
	padding: 40px 0px 0px 0px;
}
.content_fullwidth {
	float: left;
	width: 100%;
	padding: 40px 0px 0px 0px;
}
.right_sidebar {
	float: left;
	width: 100%;
	padding: 40px 0px 0px 0px;
}
.left_sidebar {
	float: left;
	width: 100%;
	padding: 40px 0px 0px 0px;
}
.content_right {
	float: left;
	width: 100%;
	padding: 40px 0px 0px 0px;
}

.one_full {
	width: 100%;
}
.one_half {
	width: 100%;
	margin-bottom: 30px;
}
.one_third {
	width: 100%;
	margin-bottom: 30px;
}
.one_fourth {
	width: 100%;
	margin-bottom: 30px;
}
.one_fifth {
	width: 100%;
	margin-bottom: 30px;
}
.two_third {
	width: 100%;
	margin-bottom: 30px;
}
.three_fourth {
	width: 100%;
	margin-bottom: 30px;
}
.last {
	margin-right: 0 !important;
	clear: right;
	margin-bottom: 0 !important;
}

.top_contact_info .left_sec {
	width: 100%;
	margin-right: 0%;
}
.top_contact_info .center_sec {
	width: 100%;
	margin-right: 0%;
}
.top_contact_info .right_sec {
	float: left;
	width: 100%;
	margin-top: -100px;
}
.top_contact_info .right_sec .socials li em {
	display: none;
}
.top_contact_info .right_sec .socials li a {
	margin: 0px 0px 5px 5px;
}
.top_contact_info .left_sec ul.tci_list {
	margin: 0px 0px 0px 5px;
}
.top_contact_info .right_sec ul.socials {
	margin: 20px 10px 0px 0px;
	float: left;
}

a.button_slider {
	padding: 3px 2px;
	font-size: 7px;
	border-radius: 2px;
}

.tp-caption.medium_text{
	display: none;
}

.four_col_fusection .one_fourth {
	width: 88%;
	padding: 30px 5%;
	border-right: none;
	margin-bottom: 40px;
}
.four_col_fusection .one_fourth i {
	margin-left: 83px;
}

.footer .one_fourth{
	width: 100%;
	margin-right: 0%;
}

.copyright_info .one_half{
	width: 100%;
	margin-right: 0%;
}

ul.footer_social_links {
	float: left;
}

.about_site img {
	width: 99%;
}

.get_features ul.get_features_list {
	width: 100%;
}

.clients .jcarousel-skin-tango .jcarousel-item {
	margin-right: 10px;
}

.bottom_hilight .left {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 40px 0px 0px 0px;
	background-color: #fff;
}
.bottom_hilight .left iframe {
	float: left;
	width: 100%;
	height: 270px;
}
.bottom_hilight .right {
	float: left;
	width: 100%;
	padding: 0px 0px 40px 0px;
	margin: 27px 0px 0px 0px;
}
.bottom_hilight p {
	margin-top: 10px;
}

#footer .newsletter .rss_feeds {
	margin-top: 16px;
	margin-left: 27px;
}

.fresh_works .fresh_works_multylist li {
	margin: 0px 0px 0px 0px;
}
.fresh_works .fresh_works_multylist li .item {
	width:223px;
	height:200px;
}
.fresh_works .fresh_works_multylist li .item .caption {
	width:203px;
	height:180px;
}

.punchline_text_box {
	width: 83%;
}
.punchline_text_box .left {
	width: 100%;
}
.punchline_text_box .right {
	width: 100%;
	float: left;
}
.punchline_text_box .right a {
	float: left;
	margin: 10px 0px 0px 0px;
}

ul.fullimage_box2 {
	width: 85%;
}

.mar_top20 {
	margin-top: 55px;
	width: 100%;
	float: left;
}

.slider_static_image {
	height: 180px;
}
.slider_static_image .static_right_img {
	height: 180px;
	background-size: 65%;
}
.slider_static_image .static_left_content {
	float: left;
	width: 80%;
	margin: 20px 0px 0px 10px;
}
.slider_static_image .text1 {
	font-size: 12px;
	line-height: 12px;
}
.slider_static_image .text5 {
	color: #333;
	font-size: 18px;
	line-height: 18px;
}
.slider_static_image .text2 {
	font-size: 10px;
	line-height: 10px;
	margin-top: 10px;
}
.slider_static_image .text3 {
	font-size: 8px;
	line-height: 12px;
	margin-top: 7px;
}
.slider_static_image .text4 {
	margin-top: 10px;
}

.slider_video {
	height: 350px;
}
.slider_video .video_ara {
	width: 94%;
	height: 180px;
	margin-top: 0px;
}
.slider_video .text1 {
	font-size: 12px;
	line-height: 12px;
}
.slider_video .text5 {
	color: #333;
	font-size: 18px;
	line-height: 18px;
}
.slider_video .text2 {
	font-size: 10px;
	line-height: 13px;
	margin-top: 5px;
}
.slider_video .text3 {
	font-size: 10px;
	line-height: 14px;
	margin-top: 7px;
}
.slider_video .text4 {
	margin-top: 10px;
}
.slider_video .slider_video_content {
	margin: 25px 0px 0px 10px;
}

.image_left1 {
	margin: 0px 30px 20px 0px;
}

.our_team_box_big  img.teammempic {
	width: 100%;
}
.our_team_box_big ul {
	width: 100%;
}

.our_team_box .boxleft {
	width: 100%;
	float: left;
	margin: 0px 0px 30px 0;
}
.our_team_box .boxright {
	width: 100%;
	float: left;
	margin: 0px;
}
.our_team_box ul {
	width: 100%;
}

ul.fullimage_box {
	float: left;
	padding: 0px;
	margin: 0px 0px 30px 0px;
	width: 100%;
}
ul.fullimage_box.last {
	float: left;
	width: 100%;
	margin-left: 0%;
}

.lirc_section li.left.two {
	margin: 0 0 0 43%;
}

.testimonials-9 {
	float: left;
	width: 94%;
}

.error_pagenotfound strong {
	display: block;
	font-size: 90px;
	line-height: 65px;
	font-weight: normal;
}
.error_pagenotfound b {
	display: block;
	font-size: 16px;
	line-height: 27px;
}
.error_pagenotfound em {
	display: block;
	font-size: 9px;
	line-height: 13px;
	margin: 0;
	font-style: normal;
	font-weight: bold;
}

.portfolio_image {
	width: 95%;
}

.portfolio_area_left {
	padding: 0px;
	margin: 0px 0px 30px 0px;
	width: 98%;
	float: left;
}
.portfolio_area_right {
	padding: 0px;
	margin: 0px 0px 0px 0px;
	width: 98%;
	float: left;
}
.project_details {
	padding: 0px;
	margin: 65px 0px 0px 0px;
}
.addto_favorites {
	float: left;
	margin: 15px 0px 0px 0px;
}
.addto_favorites:hover {
	float: left;
	margin: 15px 0px 0px 0px;
}
.portfolio_area_right ul.small_social_links {
	margin: 22px 0px 0px 170px;
}
.project_details span {
	padding: 4px 0px;
}
.project_details strong {
	width: 30%;
}

.blog_post h3 {
	font-size: 18px;
	float: left;
	width: 71%;
	line-height: 25px;
}
.blog_post a.date {
	float: left;
	margin-right: 15px;
}
.post_info_content {
	padding: 0px;
	margin: 10px 0 0 0;
	width: 97%;
	float: left;
}
ul.post_meta_links {
	float: left;
	margin: -10px 0px 12px 72px;
	padding: 0px 0px 0px 0px;
	width: 70%;
}
.post_meta_links li.post_by {
	float: left;
	padding: 0px 0px 0px 18px;
	background: url(../images/blog/icon-by-user.html) no-repeat 0px 5px;
}
.post_meta_links li.post_categoty {
	float: left;
	padding: 0px 0px 0px 25px;
	background: url(../images/blog/icon-category.html) no-repeat 9px 6px;
}
.post_meta_links li.post_comments {
	float: left;
	padding: 0px 0px 0px 25px;
	background: url(../images/blog/icon-comments.html) no-repeat 9px 5px;
}
.post_meta_links li a {
	color: #a1a1a1;
	padding: 0px 10px 0px 0px;
	text-decoration: none;
	font-size: 10px;
}
.blog_postcontent .image_frame {
	float: left;
	width: 94%;
	border: 7px solid #eee;
	margin-bottom: 25px;
}
.blog_postcontent .video_frame iframe {
	float: left;
	width: 94%;
	height: 200px;
	border: 7px solid #ddd;
	margin-bottom: 25px;
}
.blog_postcontent .image_frame.small {
	float: left;
	width: 95%;
	border: 7px solid #ddd;
	margin-bottom: 25px;
}
.blog_postcontent .video_frame.small iframe {
	float: left;
	width: 95%;
	height: 200px;
	border: 7px solid #ddd;
	margin-bottom: 25px;
}
.post_info_content_small {
	padding: 0px;
	margin: 0;
	width: 95%;
	float: left;
}
ul.post_meta_links_small {
	float: left;
	margin: -15px 0px 12px 80px;
	padding: 0px 0px 0px 0px;
	width: 70%;
}

.pagination b{
	float: left;
	margin: 0px 0px 10px 0;
	padding:0px 10px;
	font-weight: normal;
	color: #999;
	width: 90%;
}

#site-searchform #s{
	width: 74%;
}

ul.adsbanner-list {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	float: left;
	width: 50%;
}
.adsbanner-list li {
	margin: 0px 10px 10px 0px;
	padding: 0px;
	float: left;
	width: 110px;
	height: 110px;
	list-style-type: none;
}
.adsbanner-list li.last {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	float: left;
	width: 110px;
	height: 110px;
	list-style-type: none;
}
.adsbanner-list li img {
	width: 100%;
	height: auto;
}
ul.adsbanner-list.two {
	margin: 0px 0px 0px 0px;
	float: left;
}

.about_author {
	width: 85%;
}

.comment_form {
	float: left;
	width: 100%;
	margin-top: 30px;
}
.comment_form label{
	float: left;
	width: 90px;
	height: 15px;
	padding: 7px 10px;
	margin-bottom: 20px;
}
.comment_input_bg {
	float: left;
	width: 52%;
	height: 25px;
	padding: 7px 10px 0px 10px;
	border-top: 2px solid #e3e3e3;
	border-left: 2px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.comment_textarea_bg {
	float: left;
	width: 90%;
	height: 235px;
	padding: 7px 10px 0px 10px;
	margin-bottom: 20px;
	border-top: 2px solid #e3e3e3;
	border-left: 2px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.comment_checkbox {
	float: left;
	display: block;
	width: 90%;
	margin-top: 10px;
}


.address-info {
	width: 84%;
}
.google-map {
	width: 95%;
}


.pricing-tables {width: 24%; }
.pricing-tables .title{ font-size: 12px; }
.pricing-tables .price{ font-size: 18px; }
.pricing-tables .price i{ font-size: 9px; margin-top: 0px; }
.pricing-tables-helight{position: relative;float: left; width: 24%; }
.pricing-tables-helight .title{ font-size: 12px; }
.pricing-tables-helight .price{ font-size: 18px; }
.pricing-tables-helight .price i{ font-size: 9px; margin-top: 0px; }

.pricing-tables-two {width: 32%; }
.pricing-tables-two .title{ font-size: 12px; }
.pricing-tables-two .price{ font-size: 18px; }
.pricing-tables-two .price i{ font-size: 9px; margin-top: 0px; }
.pricing-tables-helight-two{position: relative;float: left; width: 33%; }
.pricing-tables-helight-two .title{ font-size: 12px; }
.pricing-tables-helight-two .price{ font-size: 18px; }
.pricing-tables-helight-two .price i{ font-size: 9px; margin-top: 0px; }

.slidingDiv{
	height: 100px;
}
a.show_hide{
	margin: 0px 0px 0px 275px;
}

.punchline_text_home h2 {
	width: 100%;
	margin: 0px 0px 0px 0px;
}
.punchline_text_home strong {
	width: 100%;
	margin: 0px 0px 20px 0px;
}

.site_boxedfeatures_two {
	width: 80%;
}
.site_boxedfeatures_two img {
	width: auto;
}

.tci_list_left li {
	margin: 0px 0px 0px 2px;
}

.clients_logos_list li img {
	width: 80%;
}

.lirc_section li.right {
	width: 61%;
}

.pricing-tables-main .ordernow .normalbut{
	padding: 10px 4px;
	font-size: 10px;
}
.pricing-tables-main .ordernow .colorchan{
	padding: 10px 4px;
	font-size: 10px;
}

.layout2_fusection1 .left {
	width: 100%;
	margin-bottom: 40px;
}
.layout2_fusection1 .right {
	float: left;
	width: 90%;
	margin-left: 13px;
}
.layout2_fusection1 .left .one_fourth {
	width: 100%;
	margin-right: 0%;
	margin-bottom: 40px;
}

.layout2_fusection2 .left_sec {
	background-size: 100%;
	font-size: 20px;
	width: 100%;
	margin-right: 0%;
	margin-bottom: -100px;
}
.layout2_fusection2 .left_sec .one {
	width: 110px;
	padding: 43px 10px 0px 10px;
	margin-left: 55px;
	line-height: 25px;
}
.layout2_fusection2 .left_sec .two {
	width: 74px;
	padding: 35px 10px 0px 10px;
	line-height: 22px;
}
.layout2_fusection2 .left_sec .three {
	width: 170px;
	padding: 13px 20px 0px 20px;
	line-height: 30px;
}

.layout2_fusection2 .right_sec {
	float: left;
	width: 100%;
}
.layout2_fusection2 .right_sec h2 {
	text-align: center;
}
.layout2_fusection2 .right_sec ul.ic_list1 {
	width: 94%;
}

.para_sec01 {
	padding: 20px 0px 0px 0px;
}
.para_sec01 b {
	font-size: 18px;
	margin-bottom: 13px;
}
.para_sec01 b em {
	margin-top: 13px;
	font-size: 14px;
}
.para_sec01 a {
	padding: 13px 22px;
	font-size: 14px;
}

.people_says .one_half {
	width: 100%;
	padding-right: 0%;
	margin-right: 0;
	margin-bottom: 0px;
	padding-bottom: 30px;
	border-right: 0px solid #eee;
	border-bottom: 1px solid #eee;
}
.people_says .one_half.last {
	width: 100%;
	padding-right: 0%;
	padding-left: 0%;
	border-right: 0px solid #fff;
	border-bottom: 0px;
}
.people_says .testi_monials li.left {
	width: 34%;
	margin-right: 4%;
}
.people_says .testi_monials li.left img {
	width: 100%;
}

.twitter_feeds {
	width: 70%;
	padding-left: 30%;
}



}