/*------------------*/
/*	GENERAL
/*------------------------------------------------------*/

/* ----------- Logo ----------- */
#logo{
	float:left;
	display:block;
	max-width:100%;
	min-height: 89px;
	margin-top: -10px;
	text-indent:-999em;
	background:url(../images/logo.png) no-repeat left bottom;
    min-width: 400px;
    background-size: contain;
    margin-left: -30px;
}



/*------------------*/
/*	SITE STRUCTURE
/*------------------------------------------------------*/

.site_wrapper {
	width: 100%;
	margin: 0 auto 0 auto;
}
.container_full {
	width: 100%;
	float: left;
	margin: auto auto auto auto;
}
.container {
	width: 1170px;
	margin: auto auto auto auto;
}


/* columns */
.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth {
	position: relative;
	margin-right: 4%;
	float: left;
}
.one_full {
	width: 100%;
}
.one_half {
	width: 48%;
}
.one_third {
	width: 30.650%;
}
.one_fourth {
	width: 22%;
}
.one_fifth {
	width: 16.800%;
}
.two_third {
	width: 65.350%;
}
.three_fourth {
	width: 74%;
}

.last {
	margin-right: 0 !important;
	clear: right;
}


/*------------------*/
/*	MENU
/*------------------------------------------------------*/

#access .menu {
	list-style: none;
	font-weight: normal;
	position: relative;
	float: right;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 0px;
}
#access .menu select {
	border: 2px solid #eee;
	padding: 10px 10px 10px 10px;
	background-color: #f9f9f9;
	color: #333;
}
#access .menu ul {
	margin: 0px;
	list-style-type: none;
	position: relative;
	text-align: left;
	z-index: 1001;
	height: 78px;
	margin: 0;
	float: right;
}
#access .menu ul li {
	position: relative;
	display: inline-block;
	padding: 0;
	z-index: 101;
	margin: 0px 0px 0px 1px;
	float: left;
}
#access .menu ul li.last {
	background: none;
}
#access .menu ul li a {
	display: inline-block;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	margin: 0;
	padding: 32px 20px 32px 20px;
	text-align: center;
}
#access .menu ul li a:hover {
	color: #fff;
	padding: 32px 20px 32px 20px;
	background-color: #425d6c;
} 
#access .menu ul li a.active {
	color: #fff;
	padding: 32px 20px 32px 20px;
	background-color: #425d6c;
}
#access .menu ul li a i {
	margin-right: 5px;
	float: left;
}

#access .menu ul li ul {
	position: absolute;
	left: 0;
	height: auto;
	display: none;
	visibility: hidden;
	width: 230px;
	padding: 0;
	margin-top: 0px;
	text-align: left;
	background: #425d6c;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
#access .menu ul li ul li {
	display: list-item;
	float: none;
	background: none;
	padding: 0;
	margin: 0;
	height: auto;
}
#access .menu ul li ul li ul {
	top: 0;
}
#access .menu ul li ul li a {
	margin: 0;
	border: none;
	display: block;
	padding: 14px 17px 14px 17px;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	color: #fff;
	background: #425d6c;
	width: 195px;
	text-align: left;
	border-bottom: 1px solid #576f7d;
}
#access .menu ul li ul li a:hover,
#access .menu ul li ul li.active a,
#access .menu ul li ul li a.selected {
	background: #40d172;
	border-bottom: 1px solid #576f7d;
	color: #fff;
	padding: 14px 17px 14px 17px;
}

#access .menu ul li ul li:last-child {
	border: none;
}
* html #access .menu {
	height: 1%;
}

.selectnav {display: none; width: 440px; margin-left: 20px;}



/*------------------*/
/*	PAGES
/*------------------------------------------------------*/

/* top section */
.top_border {
	float: left;
	width: 100%;
	height: 5px;
	background-color: #1a2e38;
	border-bottom: 1px solid #425d6c;
}

.top_contact_info {
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 100%;
	min-height: 120px;
	border-top: 5px solid #222628;
}

.top_contact_info .left_sec {
	float: left;
	width: 32%;
	margin-right: 2%;
}
.top_contact_info .center_sec {
	float: left;
	width: 32%;
	text-align: center;
	margin-right: 2%;
}
.top_contact_info .right_sec {
	float: left;
	width: 32%;
}

.top_contact_info .left_sec ul.tci_list {
	float: left;
	padding: 0px;
	margin: 45px 0px 0px 10px;
}
.top_contact_info .left_sec .tci_list li {
	float: left;
	padding: 0px;
	margin: 0px 5px 0px 0px;
	color: #eee;
}
.top_contact_info .left_sec .tci_list li a {
	font-size: 13px;
	color: #b9b9b9;
	padding: 0 2px;
}
.top_contact_info .left_sec .tci_list li a:hover {
	color: #999;
}

.top_contact_info .right_sec ul.socials {
	float: right;
	padding: 0px;
	margin: 45px 10px 0px 0px;
}
.top_contact_info .right_sec .socials li {
	float: left;
	padding: 0px;
	margin: 0px;
	font-size: 13px;
	color: #b9b9b9;
}
.top_contact_info .right_sec .socials li em {
	font-style: normal;
}
.top_contact_info .right_sec .socials li a {
	float: left;
	padding: 0px;
	margin: 0px 0px 0px 5px;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	line-height: 22px;
	text-align: center;
	border-radius: 100%;
	background-color: #eee;
}
.top_contact_info .right_sec .socials li a i {
	color: #fff;
}
.top_contact_info .right_sec .socials li a:hover {
	background-color: #47738b;
}


a.button_slider {
	float: left;
	padding: 10px 22px;
	margin: 0px 0px 0px 0px;
	font-weight: normal;
	font-size: 18px;
	text-transform: uppercase;
	color: #2d4b5b;
	border-radius: 4px;
	border: 1px solid #2d4b5b;
}
a.button_slider:hover {
	color: #fff;
	background-color: #40d172;
	border: 1px solid #2fc061;
}
a.button_slider.two {
	color: #fff;
	background-color: #40d172;
	border: 1px solid #2fc061;
}
a.button_slider.two:hover {
	color: #fff;
	background: none;
	border: 1px solid #fff;
}


/* four columns features section */
.four_col_fusection .one_fourth {
	width: 21.6%;
	padding: 30px 1%;
	text-align: center;
	border: 1px solid #f0f0f0;
	border-radius: 4px;
	position: relative;
	margin-right: 1.6%;
	float: left;
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
.four_col_fusection .one_fourth:hover {
	background-color: #f0f0f0;
}
.four_col_fusection .one_fourth:hover i {
	background-color: #f9f9f9;
	border: 4px solid #fff;
}
.four_col_fusection .one_fourth.helight {
	background-color: #f0f0f0;
}
.four_col_fusection .one_fourth.helight i {
	background-color: #f9f9f9;
	border: 4px solid #fff;
	color: #47738b;
}
.four_col_fusection .one_fourth i {
	color: #222628;
	margin-bottom: 30px;
	border: 4px solid #f3f3f3;
	border-radius: 100%;
	float: left;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	vertical-align: middle;
	margin-left: 73px;
}
.four_col_fusection .one_fourth h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 25px;
	text-transform: uppercase;
}
.four_col_fusection .one_fourth a {
	color: #999;
	font-size: 11px;
	text-transform: uppercase;
}
.four_col_fusection .one_fourth a:hover {
	color: #47738b;
}
.four_col_fusection .one_fourth a:hover i {
	color: #47738b;
	background: none;
	border: none;
}
.four_col_fusection .one_fourth:hover a i {
	background: none;
	border: none;
}
.four_col_fusection .one_fourth.helight a {
	color: #47738b;
}
.four_col_fusection .one_fourth.helight a:hover {
	color: #222628;
}
.four_col_fusection .one_fourth.helight a:hover i {
	color: #222628;
}
.four_col_fusection .one_fourth.helight a i {
	background: none;
	border: none;
	color: #47738b;
}
.four_col_fusection .one_fourth a i {
	display: inherit;
	margin: 0px 0px 0px 3px;
	color: #999;
	width: auto;
	height: auto;
	line-height: inherit;
	border: none;
	float: inherit;
	background: none;
	border: none;
}
.four_col_fusection .last {
	margin-right: 0 !important;
	clear: right;
}
.four_col_fusection.inner .one_fourth i {
	color: #47738b;
}

/* layout2 fusection1 */
.layout2_fusection1 {
	float: left;
	width: 100%;
	padding: 50px 0px;
	text-align: center;
}
.layout2_fusection1 .left {
	float: left;
	width: 75%;
}

.layout2_fusection1 .left .one_fourth {
	float: left;
	width: 22%;
	text-align: center;
	margin-right: 4%;
}
.layout2_fusection1 .left .one_fourth.last {
	margin-right: 0%;
}
.layout2_fusection1 .one_fourth i {
	color: #fff;
	width: 62px;
	height: 62px;
	font-size: 32px;
	text-align: center;
	line-height: 62px;
	vertical-align: middle;
	background-color: #40d172;
	border-radius: 100%;
}
.layout2_fusection1 .one_fourth h4 {
	margin-top: 18px;
	margin-bottom: 14px;
}
.layout2_fusection1 .one_fourth a {
	color: #fff;
	font-size: 12px;
	padding: 8px 13px;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #81b0c7;
}
.layout2_fusection1 .one_fourth a:hover {
	background-color: #40d172;
}

.layout2_fusection1 .right {
	float: right;
	width: 23%;
	min-height: 220px;
	background: url(../images/fu-graph.png) no-repeat center top;
}
.layout2_fusection1 .right h4 {
	font-weight: normal;
	line-height: 30px;
	padding: 35px 20px 0px 20px;
	margin-bottom: 4px;
}
.layout2_fusection1 .right h1 {
	font-weight: normal;
	padding: 0px;
	margin: 0px 0px 20px 0px;
	text-transform: uppercase;
	color: #40d172;
}
.layout2_fusection1 .right a {
	color: #fff;
	font-size: 12px;
	padding: 8px 13px;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #e4e4e4;
}
.layout2_fusection1 .right a:hover {
	background-color: #40d172;
}

/* fresh projects */
.fresh_projects {
	float: left;
	width: 100%;
	padding: 35px 0px 25px 0px;
	background: #f0f0f0 url(../images/elements/dotted-bg.png) repeat left top;
	text-align: left;
}
.fresh_projects h2 {
	font-size: 27px;
	padding: 0px;
	margin: 0px 0px 25px 0px;
	font-weight: normal;
	color: #222628;
}

.fresh_projects_list section .display .small-group{
	float:left;
	width:550px;
	height:320px;
	overflow:hidden;
}
.fresh_projects_list section .display .small-group div.small{
	position:relative;
	float:left;
	width:50%;
	height:100%;
	color:#fff;
	overflow:hidden;
}
.fresh_projects_list section .display .small-group div.small img{
	width: 100%;
	height: 300px;
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}
.fresh_projects_list section .display .small-group div.small .hover{
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	pointer-events:none;
	z-index:90;
}
.fresh_projects_list section .display .small-group div.small:hover .hover{
	background:#1a2e38;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	height: 300px;
}
.fresh_projects_list section .display .small-group div.small:hover .info{
	color:#fff;
}
.fresh_projects_list section .display .small-group div.small a{
	color:#fff;
}
.fresh_projects_list section .display .small-group div.small .info{
	position:absolute;
	bottom:20px;
	margin-bottom: 0px;
	left:0;
	width:100%;
	z-index:100;
	background: none;
	border: none;
	-webkit-transition:bottom 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	-moz-transition:bottom 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	-o-transition:bottom 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	transition:bottom 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.fresh_projects_list section .display .small-group div.small .info .title{
	color: #fff;
	margin: 0px;
	padding: 16px 0px 16px 13px;
	line-height: normal;
	font-size: 16px;
	font-weight: normal;
	background: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}
.fresh_projects_list section .display .small-group div.small .info .title ul{
	float: right;
	padding: 0px;
	margin: 5px 10px 0px 0px;
}
.fresh_projects_list section .display .small-group div.small .info .title li {
	float: left;
	padding: 0px;
	margin: 0px 0px 0px 4px;
	font-size: 13px;
	color: #b9b9b9;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	line-height: 20px;
	text-align: center;
	border-radius: 100%;
	background-color: #434343;
}
.fresh_projects_list section .display .small-group div.small .info .title li img {
	width: 13px;
	height: 13px;
	border-radius: 100%;
}
.fresh_projects_list section .display .small-group div.small .info .title li img:hover {
	background-color: #727272;
	width: 13px;
	height: 13px;
	border-radius: 100%;
}

.fresh_projects_list section .display .small-group div.small .info h2{
	background: none;
	color: #727272;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-size: 13px;
	font-weight: normal;
}

.fresh_projects_list section.cheapest .small-group .additionnal{
	font-weight:500;
	color:#fff;
	line-height:20px;
	padding: 0px 25px 0px 25px;
	position:absolute;
	top:100%;
	left:0;
	right:0;
	opacity:0;
	margin-top: 10px;
}
.fresh_projects_list section.cheapest .small-group .additionnal b {
	padding: 5px 10px 5px 10px;
	margin: 0px 0px 0px 0px;
	color: #999;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	background-color: #222628;
}
.fresh_projects_list section.cheapest .small-group .additionnal b:hover {
	background-color: #373737;
}
.fresh_projects_list section.cheapest .small-group .additionnal b a {
	color: #999;
}

.fresh_projects_list section.cheapest .small-group div.small:hover .title {
	color: #fff;
	margin: 0px;
	padding: 16px 0px 0px 25px;
	line-height: normal;
	font-size: 16px;
	font-weight: 600;
	background: none;
}

.fresh_projects_list section.cheapest .small-group div.small:hover .info{
	bottom:225px;
}
.fresh_projects_list section.cheapest .small-group div.small:hover .additionnal{
	opacity:1;
}
.fresh_projects_list section.cheapest .small-group div.small:hover h1, .fresh_projects_list section.cheapest .small-group div.small:hover h2,.fresh_projects_list section.cheapest .small-group div.small:hover section#easy-to-reach .large .info h3,.fresh_projects_list section#easy-to-reach .large .info section.cheapest .small-group div.small:hover h3{
	color:#fff;
	margin: 0px;
	padding: 0px;
	line-height: normal;
}
.fresh_projects_list section.cheapest .small-group div.small:hover h2 strong,.fresh_projects_list section.cheapest .small-group div.small:hover section#easy-to-reach .large .info h3 strong,.fresh_projects_list section#easy-to-reach .large .info section.cheapest .small-group div.small:hover h3 strong{
	color:#fff;
	margin: 0px;
	padding: 0px;
	line-height: normal;
}

.portfolio_sidebar_widget .fresh_projects_list section .display .small-group{
	float:left;
	width:550px;
	height:270px;
	overflow:hidden;
}
.portfolio_sidebar_widget .jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 100%;
	height: 250px;
}
.portfolio_sidebar_widget .fresh_projects_list section.cheapest .small-group div.small:hover .info{
	bottom:190px;
}

/* layout1 fusection2 */
.layout2_fusection2 {
	float: left;
	width: 100%;
	text-align: left;
	padding: 50px 0px 50px 0px;
}
.layout2_fusection2 .left_sec {
	float: left;
	width: 35.5%;
	margin-right: 4.5%;
	min-height: 440px;
	font-family: 'Shadows Into Light' !important;
  	font-style:  normal;
  	font-weight: 400;
	font-size: 27px;
	color: #fff;
	background: url(../images/graph-1.html) no-repeat center top;
}
.layout2_fusection2 .left_sec em {
	color: #40d172;
	font-style: normal;
}
.layout2_fusection2 .left_sec .one {
	float: left;
	width: 140px;
	padding: 55px 30px 0px 30px;
	margin-left: 65px;
	margin-right: 40px;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
}
.layout2_fusection2 .left_sec .two {
	float: left;
	width: 94px;
	padding: 40px 20px 0px 20px;
	text-align: center;
	line-height: 32px;
	vertical-align: middle;
}
.layout2_fusection2 .left_sec .three {
	float: left;
	width: 260px;
	padding: 18px 30px 0px 30px;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	margin-left: 50px;
}
.layout2_fusection2 .right_sec {
	float: right;
	width: 60%;
}
.layout2_fusection2 .right_sec h2 {
	margin-bottom: 35px;
}
.layout2_fusection2 .right_sec a.but1 {
	float: left;
	margin-left: 20px;
	color: #2d4b5b;
}
.layout2_fusection2 .right_sec a.but1:hover {
	color: #40d172;
}
.layout2_fusection2 .right_sec a.but1 i {
	color: #40d172;
}
.layout2_fusection2 .right_sec ul.ic_list1 {
	float: left;
	width: 44%;
	padding: 2% 3%;
	margin: 0px 0px 13px 0px;
	border-radius: 4px;
}
.layout2_fusection2 .right_sec ul.ic_list1:hover {
	background-color: #40d172;
	border-radius: 4px;
	color: #fff;
}
.layout2_fusection2 .right_sec ul.ic_list1:hover li.left {
	color: #fff;
}
.layout2_fusection2 .right_sec ul.ic_list1:hover li.right h4 {
	color: #fff;
}
.layout2_fusection2 .right_sec ul.ic_list1.active {
	background-color: #40d172;
	border-radius: 4px;
	color: #fff;
}
.layout2_fusection2 .right_sec ul.ic_list1.active li.left {
	color: #fff;
}
.layout2_fusection2 .right_sec ul.ic_list1.active li.right h4 {
	color: #fff;
}
.layout2_fusection2 .right_sec .ic_list1 li {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.layout2_fusection2 .right_sec .ic_list1 li.left {
	float: left;
	width: 20%;
	color: #2d4b5b;
}
.layout2_fusection2 .right_sec .ic_list1 li.right {
	float: left;
	width: 80%;
}
.layout2_fusection2 .right_sec .ic_list1 li.right h4 {
	color: #2d4b5b;
	margin-bottom: 8px;
}

/* home tabs section */
.home_tabs_sec {
	float: left;
	width: 100%;
	text-align: center;
}
.home_tabs_sec h1 {
	font-size: 27px;
	padding: 0px;
	margin: 0px 0px 40px 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.home_tabs_sec h1 i {
	font-size: 18px;
	color: #727272;
	font-style: normal;
	display: block;
	padding-top: 4px;
	line-height: 25px;
}
.home_tabs_sec .tabs .list-fiv{
    width: 12.2%;
}
.home_tabs_sec .tabs .list-fiv a{
    width: 100%;
}
.home_tabs_sec .tabs .list-fiv.last{
    width: 12.7%;
}

/* clients */
.clients {
	float: left;
	width: 100%;
	padding: 0px 0px 30px 0px;
}

/*tab-con-info*/
.tab-con-info .right ul li > p{
    text-indent: 2em;
}
.tab-con-info .right ul li > i{
    font-size: 8px;
}
.tab-con-info .right >p{
    margin-bottom: 5px;
}
.tab-content.tab-mb p,.tab-content.tab-mb ul{
    margin-bottom: 5px;
}
#tab1.tab-content,#tab2.tab-content,#tab3.tab-content{
    overflow: hidden;
}
.tab-content-two p,.tab-content-two ul,
.tab-content-two-f p,.tab-content-two-f ul,
.tab-content-two-s p,.tab-content-two-s ul{
    margin-bottom: 5px;
}
#tab1.tab-content .tabs-two li a,
#tab2.tab-content .tabs-two-f li a,
#tab3.tab-content .tabs-two-s li a{
    width: 150px;
    background: #669;
    color:#fff;
}
#tab1.tab-content .tabs-two li.active a,
#tab2.tab-content .tabs-two-f li.active a,
#tab3.tab-content .tabs-two-s li.active a{
    background: #fff;
    color:#66f;
}
/* people says */
.people_says_icon {
	float: left;
	width: 100%;
	height: 72px;
	vertical-align: middle;
	line-height: 88px;
	color: #40d172;
	text-align: center;
	background: url(../images/graph-2.png) no-repeat center top;
	position: relative;
	z-index: 2;
}
.people_says {
	float: left;
	width: 100%;
	margin-top: -35px;
	border-top: 1px solid #eee;
	position: relative;
	z-index: 1;
}
.people_says .one_half {
	float: left;
	width: 47%;
	padding-right: 2.8%;
	margin-right: 0;
	padding-bottom: 18px;
	border-right: 1px solid #eee;
}
.people_says .one_half.last {
	float: left;
	width: 45%;
	padding-right: 0%;
	padding-left: 5%;
	border-right: 0px solid #fff;
}
.people_says ul.testi_monials {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 40px 0px 0px 0px;
}
.people_says .testi_monials li {
	padding: 0px;
	margin: 0px;
	line-height: 23px;
}
.people_says .testi_monials li b {
	color: #81b0c7;
	font-weight: normal;
	margin-top: 18px;
	display: block;
}
.people_says .testi_monials li em {
	color: #999;
	font-style: normal;
	font-size: 12px;
	display: block;
	margin-top: -5px;
}
.people_says .testi_monials li.left {
	float: left;
	width: 38%;
}
.people_says .testi_monials li.right {
	margin-top: 10px;
}
.people_says .people_says_more {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 9px;
}
.people_says .people_says_more a {
	color: #727272;
	font-size: 12px;
	padding: 12px 16px;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #eee;
}
.people_says a:hover {
	color: #fff;
	background-color: #40d172;
}



/*------------------*/
/*	FOOTER
/*------------------------------------------------------*/
.footer {
	float: left;
	width: 100%;
	background: #1a2e38 url(../images/footer-bg.png) repeat left top;
	color: #999;
}
.footer .one_fourth{
	float: left;
	width: 22%;
	margin-right: 4%;
}

.footer h2 {
	font-size: 23px;
	color: #fff;
	font-weight: 300;
}
.footer h2 i {
	font-weight: normal;
	font-style: normal;
}
.footer a {
	color: #999;
}
.footer a:hover {
	color: #fff;
}
.footer ul.list {
	padding: 0px;
	margin: 0px;
}
.footer .list li {
	padding: 0px;
	margin: 0px;
	line-height: 30px;
	font-size: 14px;
}

.footer ul.contact_address {
	float: left;
	padding: 0px;
	margin: 10px 0px 0px 0px;
	width: 100%;
}
.footer .contact_address li {
	padding: 0px;
	margin: 0px;
	line-height: 25px;
	font-size: 14px;
}
.footer .footer_logo {
	float: left;
	padding: 0px;
	margin: 0px;
}

.footer ul.recent_blogs {
	padding: 12px 0px 0 0px;
	margin: -5px 0px 0px 0px;
}
.footer .recent_blogs li {
	padding: 0px 0 16px 0px;
	margin: 0px 0px 16px 0px;
	float: left;
	border-bottom: 1px solid #393939;
}
.footer .recent_blogs li.last {
	margin: 0px 0px 0px 0px;
	border-bottom: none;
}
.footer .recent_blogs li img {
	border: 3px solid #999;
	float: left;
	margin-right: 20px;
}
.footer .recent_blogs li a {
	color: #999;
}
.footer .recent_blogs li a:hover {
	color: #fff;
}
.footer .recent_blogs li i {
	font-size: 11px;
	line-height: 16px;
	float: left;
	margin-top: 5px;
	font-style: normal;
	color: #727272;
}
.footer .recent_blogs li p {
	margin: -5px 0px 0px 0px;
}


/* Tweets */
.twitter_feeds {
	float: left;
	width: 91%;
	padding-left: 9%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 10px;
	color: #fff;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background: #2d4b5b url(../images/twitter-icon.png) no-repeat 25px 20px;
}
.twitter_feeds a {
	color: #40d172;
}
.twitter_feeds a:hover {
	color: #fff;
}
.twitter_feeds strong {
	font-weight: 600;
}
.twitter_feeds small {
	color: #999;
}
.twitter_feeds small a {
	color: #999;
	font-size: 10px;
	margin-right: 5px;
}
.twitter_feeds small a:hover {
	color: #eee;
}

/* flickr */
#flickr_badge_wrapper {
	padding: 0px;
	margin: 0px;
	width: 100%;
}
#flickr_badge_wrapper img {
	width: 70px;
	height: 58px;
	margin-right: 8px;
	margin-bottom: 2px;
	border: 1px solid #999 !important;
}
#flickr_www {
	display:block;
	padding:0 10px 0 10px !important;
}
#flickr_badge_uber_wrapper a:hover,
#flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {
	text-decoration:none !important;
	background:inherit !important;
	color:#3993ff;
}
#flickr_badge_wrapper {
	margin-top: 25px;
}
#flickr_badge_source {
	padding:0 !important;
}

/* copyrights */
.copyright_info {
	float: left;
	padding: 25px 0px 22px 0px;
	margin: 0px 0px 0px 0px;
	width: 100%;
	color: #727272;
	background-color: #15252d;
	border-top: 1px solid #2d3b42;
}
.copyright_info .one_half{
	float: left;
	width: 48%;
	margin-right: 4%;
}
.copyright_info b {
	font-size: 12px;
	color: #727272;
	font-style: normal;
	font-weight: normal;
}
.copyright_info span {
	float: right;
}
.copyright_info a {
	margin-top: 10px;
	font-size: 12px;
	color: #727272;
	text-align: right;
}
.copyright_info a:hover {
	color: #999;
}

/* footer social links */
ul.footer_social_links {
	float: right;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}
.footer_social_links li {
	float: left;
	padding: 0px;
	margin: 0px 0px 0px 5px;
	width: 24px;
	height: 24px;
	text-align: center;
	border-radius: 24px;
	line-height: 22px;
	vertical-align: middle;
	background-color: #26343c;
	color: #fff;
}
.footer_social_links li:hover {
	background-color: #0e1a20;
}
.footer_social_links li i {
	color: #4d595f;
}


/*------------------*/
/*	CONTENT
/*------------------------------------------------------*/
.content_left {
	float: left;
	width: 71%;
	padding: 50px 0px 0px 0px;
}
.content_fullwidth {
	float: left;
	width: 100%;
	padding: 50px 0px 0px 0px;
}
.right_sidebar {
	float: right;
	width: 25%;
	padding: 50px 0px 0px 0px;
}
.left_sidebar {
	float: left;
	width: 25%;
	padding: 50px 0px 0px 0px;
}
.content_right {
	float: right;
	width: 71%;
	padding: 50px 0px 0px 0px;
}

/* page title */
.page_title {
	z-index: -1;
	position: relative;
	float: left;
	width: 100%;
	margin-top: 0px;
	padding: 28px 0px;
	background: #eee url(../images/elements/lines-bg.png) repeat left top;
	border-bottom: 1px solid #f0f0f0;
}
.page_title.service{
	background: url(../images/service-page.jpg) no-repeat top center;
	height: 380px;
	max-height: 380px;
	padding: 28px 0 0;
}
.page_title.about{
	background: url(../images/about.jpg) no-repeat top center;
	height: 380px;
	max-height: 380px;
	padding: 28px 0 0;
}
.page_title.schedule-rate{
	background: url(../images/schedule-rate.jpg) no-repeat top center;
	height: 380px;
	max-height: 380px;
	padding: 28px 0 0;
}
.page_title .title {
	width: 100%;
	float: left;
	text-align: left;
	margin: 0px;
}
.page_title .title h1 {
	margin: 0px 0px 0px 0px;
	background: none;
	font-weight: 300;
	color: #222628;
}
.page_title .pagenation {
	float: left;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 12px;
	text-align: left;
	font-weight: normal;
	color: #999;
	margin: 4px 0px 0px 0px;
	padding: 0px;
}
.page_title .pagenation i {
	color: #727272;
	margin: 0px 2px 0px 2px;
}
.page_title .pagenation a {
	padding: 0px 0px 0px 0px;
	color: #47738b;
}
.page_title .pagenation a:hover {
	color: #999;
}


/* our team */
.our_team_box {
	width: 100%;
	float: left;
}
.our_team_box ul {
	margin: 0;
	padding: 7px 0 0 0px;
	float: left;
	width: 180px;
}
.our_team_box li {
	margin: 0;
	padding: 0;
	line-height: 18px;
	list-style-type: none;
	color: #a9a9a9;
}
.our_team_box li a {
	margin: 7px 5px 0 0;
	padding: 0;
	float: left;
}
.our_team_box  img.teammempic {
	width: 100%;
	margin: 0px;
	padding: 0;
	filter:alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9; 
	opacity: 0.9;
}
.our_team_box  img.teammempic:hover {
	width: 100%;
	margin: 0px;
	padding: 0;
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1; 
	opacity: 1;
}
.our_team_box li a img:hover {
	margin: 0px;
	padding: 0;
	opacity: 0.7;
	filter: alpha(opacity=10);
}
.our_team_box li strong {
	font-size: 13px;
	color: #454545;
	display: block;
}
.our_team_box li strong i {
	color: #999;
	font-size: 11px;
	font-style: normal;
}
.our_team_box .boxleft {
	width: 180px;
	float: left;
	margin: 0px 36px 0 0;
}
.our_team_box .cont-area {
	float: left;
	font-size: 10px;
	color: #727272;
	width: 100%;
	margin-bottom: 10px;
}
.our_team_box .boxright {
	width: 180px;
	float: right;
	margin: 0px;
}
.our_team_box li a i {
	color: #dadada;
}

/* our team big */
.our_team_box_big {
	width: 100%;
	float: left;
}
.our_team_box_big ul {
	margin: 0;
	padding: 20px 0 0 0px;
	float: left;
	width: 245px;
}
.our_team_box_big li {
	margin: 0;
	padding: 0;
	line-height: 18px;
	list-style-type: none;
	color: #a9a9a9;
}
.our_team_box_big li a {
	margin: 7px 5px 0 0;
	padding: 0;
	float: left;
}
.our_team_box_big  img.teammempic {
	width: 245px;
	margin: 0px;
	padding: 0;
	float: left;
	filter:alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9; 
	opacity: 0.9;
}
.our_team_box_big  img.teammempic:hover {
	filter:alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1; 
	opacity: 1;
}
.our_team_box_big li a img:hover {
	margin: 0px;
	padding: 0;
	opacity: 0.7;
	filter: alpha(opacity=10);
}
.our_team_box_big li strong {
	font-size: 14px;
	color: #454545;
	display: block;
}
.our_team_box_big li strong i {
	color: #999;
	font-size: 12px;
	font-style: normal;
}
.our_team_box_big .cont-area {
	float: left;
	font-size: 10px;
	color: #727272;
	width: 100%;
	margin-bottom: 10px;
}
.our_team_box_big li a i {
	color: #dadada;
}

ul.list_doted02 {
	float: left;
	margin: 13px 0px 0px 0px;
	padding: 0px;
}
.list_doted02 li {
	margin: 0px 0px 13px 0px;
	padding: 0px 0px 0px 13px;
}
.list_doted02 li h5 {
	margin-bottom: 2px;
	padding-bottom: 8px;
	border-bottom: 1px solid #f3f3f3;
}

.big_text1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 27px;
	line-height: 35px;
	color: #999;
}
.big_text1 i {
	color: #47738b;
	font-style: normal;
}

ul.fullimage_box {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 48%;
}
.fullimage_box li {
	padding: 0px;
	margin: 0px;
}
.fullimage_box li img {
	margin-bottom: 8px;
	width: 100%;
}
.fullimage_box li img:hover {
}
ul.fullimage_box.last {
	float: left;
	width: 48%;
	margin-left: 4%;
}

ul.fullimage_box2 {
	float: left;
	padding: 30px 20px;
	margin: 0px;
	width: 86.6%;
	border: 1px solid #eee;
	border-radius: 4px;
}
.fullimage_box2 li {
	padding: 0px;
	margin: 0px;
	text-align: center;
}
ul.fullimage_box2.last {
	float: left;
	width: 100%;
	margin-left: 4%;
}
.fullimage_box2 li i {
	color: #47738b;
}
.fullimage_box2 h3 {
	color: #47738b;
	margin-top: 13px;
}

.box_widget_full {
	float: left;
	width: 96%;
	padding: 2%;
	margin: 0px;
	background-color: #fbfbfb;
	border: 1px solid #eee;
	border-bottom: 2px solid #eee;
}
.box_widget_full h3 {
	margin-bottom: 10px;
}
.box_widget_full i {
	float: left;
	margin-right: 20px;
}


/* client logos */
ul.clients_logos_list {
	padding: 0;
	margin: 30px 0 0 0px;
	position: relative;
}
.clients_logos_list li {
	padding: 0;
	margin: 0;
	float: left;
	width: 25%;
}
.clients_logos_list li.last {
	margin: 0 0px 0 0;
}

/* get features */
.get_features {
	width: 100%;
	float: left;
	padding: 0px;
	margin: 0px;
}
.get_features h5 {
	margin-bottom: 7px;
	font-weight: normal;
}
.get_features p {
	line-height: 19px;
}
.get_features ul.get_features_list {
	float: left;
	padding: 0px;
	margin: 0px 0px 35px 0px;
}
.get_features ul.get_features_list.last {
	margin: 0px 0px 0px 0px;
}
.get_features .get_features_list li {
	float: left;
	padding: 0px;
	margin: 0px;
}
.get_features .get_features_list li.left {
	float: left;
	padding: 0px;
	margin: 0px 15px 0px 0px;
	width: 44px;
	height: 44px;
	background-color: #47738b;
	border-radius: 45px;
	text-align: center;
	line-height: 52px;
	vertical-align: middle;
}
.get_features .get_features_list li.left i {
	color: #fff;
}
.get_features .get_features_list li.right {
	width: 80%;
}

/* section 2 */
ul.lirt_section {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
.lirt_section li.left {
	float: left;
	padding: 0px;
	margin: 0 25px 0 0;
	width: 65px;
	height: 65px;
	line-height: 65px;
	text-align: center;
	vertical-align: middle;
	background-color: #f3f3f3;
	border-radius: 100%;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 0px 0px #FFF;
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 0px 0px #FFF;
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 0px 0px #FFF;
  font-size: 22px;
}
.lirt_section li strong {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #47738b;
	display: block;
	margin: 8px 0 0 0;
}
.lirt_section li i {
	font-style: normal;
}

/* 404 Error Page */
.error_pagenotfound {
	padding: 50px 30px 58px 30px;
	margin: 0 auto;
	width: 67%;
	background-color: #fff;
	border: 1px solid #eee;
	border-bottom: 5px solid #eee;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.error_pagenotfound strong {
	display: block;
	font-size: 145px;
	line-height: 100px;
	color: #e3e3e3;
	font-weight: normal;
}
.error_pagenotfound b {
	display: block;
	font-size: 40px;
	line-height: 40px;
	color: #e3e3e3;
	margin: 0;
	font-weight: 300;
}
.error_pagenotfound em {
	display: block;
	font-size: 18px;
	line-height: 50px;
	color: #47738b;
	margin: 0;
	font-style: normal;
}

/* portfolio single image */
.portfolio_area {
	padding: 0px;
	margin: 0px;
	width: 100%;
	float: left;
}
.portfolio_area_left {
	padding: 0px;
	margin: 0px;
	width: 75%;
	float: left;
}
.portfolio_area_left img {
	padding: 0px;
	margin: 0px;
	width: 100%;
	float: left;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.portfolio_area_right {
	padding: 0px;
	margin: 0px 0px 0px 3%;
	width: 22%;
	float: left;
}
.project_details {
	padding: 0px;
	margin: 70px 0px 0px 0px;
}
.project_details span {
	padding: 5px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 14px;
	font-weight: bold;
	color: #454545;
	float: left;
	width: 100%;
	border-bottom: 1px solid #e3e3e3;
}
.project_details strong {
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 13px;
	font-weight: bold;
	color: #727272;
	float: left;
	width: 40%;
}
.project_details em {
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	color: #727272;
	float: left;
	width: 60%;
}
.project_details span a {
	padding: 3px 10px;
	margin: 0px 0px 0px 3px;
	font-size: 11px;
	line-height: 30px;
	font-weight: normal;
	font-style: normal;
	color: #727272;
	background-color: #e3e3e3;
	border-radius:3px;
}
.project_details span a:hover {
	background-color: #ddd;
}
.addto_favorites {
	padding: 3px 10px 5px 10px;
	margin: 20px 0px 0px 0px;
	width: 122px;
	display: block;
	border-radius:3px;
	font-size: 13px;
	color: #999;
	background: #eee;
}
.addto_favorites:hover {
	background: #ddd;
}
.addto_favorites i {
	color: #c3c3c3;
}

ul.small_social_links {
	padding: 0px;
	margin: 9px 0 25px 0px;
}
.small_social_links li {
	padding: 0px;
	margin: 0px 9px 0px 0px;
	float: left;
}
.small_social_links li i {
	color: #47738b;
}
.small_social_links li a {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
.small_social_links li a:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.portfolio_image {
	float: left;
	width: 97%;
	padding: 0px;
	margin: 0px;
	border: 5px solid #fff;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.portfolio_image .title {
	float: left;
	width: 92%;
	padding: 10px 19px 7px 20px;
	margin: 0px;
	font-size: 13px;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}
.portfolio_image i {
	position: absolute;
	display: none;
	color: #fff;
	margin-left: 45%;
	margin-top: 22%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}
.portfolio_image:hover i {
	display: block;
}
.portfolio_image img {
	float: left;
	width: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.portfolio_image .hover_effct {
	display: none;
}
.portfolio_image:hover .hover_effct {
	float: left;
	width: 97%;
	height: 97%;
	position: absolute;
	z-index: 999;
	background: url(../images/elements/port-hover-zoom.png) no-repeat center -55px;
	display: block;
}
.portfolio_image:hover .hover_effct2 {
	float: left;
	width: 97%;
	height: 96.1%;
	position: absolute;
	z-index: 999;
	background: url(../images/elements/port-hover-zoom.png) no-repeat center -107px;
	display: block;
}
.portfolio_image:hover .hover_effct3 {
	float: left;
	width: 97%;
	height: 94%;
	position: absolute;
	z-index: 999;
	background: url(../images/elements/port-hover-zoom.png) no-repeat center -133px;
	display: block;
}
.portfolio_image:hover .hover_effct5 {
	float: left;
	width: 97%;
	height: 94.5%;
	position: absolute;
	z-index: 999;
	background: url(../images/elements/port-hover-zoom.png) no-repeat center -55px;
	display: block;
}

/* blog */
.blog_post {
	float: left;
	width: 100%;
}
.blog_post h3 {
	float: left;
	text-align: left;
	color: #333;
	width: 85%;
	line-height: 30px;
}
.blog_post h3 a {
	color: #47738b;
	text-decoration: none;
	float: left;
	margin-top: 3px;
	text-transform: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 30px;
}
.blog_post h3 a:hover {
	color: #222628;
}
.post_info_content {
	padding: 0px;
	margin: 10px 0 0 10%;
	width: 90%;
	float: left;
}
ul.post_meta_links {
	float: left;
	margin: -10px 0px 0px -6px;
	padding: 0px 0px 0px 0px;
	width: 80%;
}
.post_meta_links li {
	float: left;
	margin: 0px;
	padding: 0px 0px 0px 4px;
	list-style-type: none;
	color: #999;
}
.post_meta_links li i {
	color: #d3d3d3;
	margin-right: 4px;
}
.post_meta_links li.post_by {
	padding: 0px 0px 0px 10px;
}
.post_meta_links li.post_categoty {
	padding: 0px 0px 0px 10px;
}
.post_meta_links li.post_comments {
	padding: 0px 0px 0px 10px;
}
.post_meta_links li a {
	color: #a1a1a1;
	padding: 0px 18px 0px 0px;
	text-decoration: none;
	font-size: 11px;
}
.post_meta_links li a:hover {
	color: #727272;
	text-decoration: none;
}
.blog_postcontent {
	float: left;
	width: 100%;
}
.blog_postcontent .image_frame {
	float: left;
	width: 98%;
	border: 7px solid #fff;
	margin-bottom: 25px;
	-webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.blog_postcontent .image_frame:hover {
	border: 7px solid #f9f9f9;
}
.blog_postcontent .image_frame img {
	float: left;
	width: 99.7%;
	border: 1px solid #fff;
}
.blog_postcontent .video_frame iframe {
	float: left;
	width: 98%;
	height: 400px;
	border: 7px solid #fff;
	margin-bottom: 25px;
	-webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.blog_postcontent .video_frame iframe:hover {
	border: 7px solid #f9f9f9;
}

/* blog small */
.blog_post h3 {
	width: 74%;
}
.blog_postcontent .image_frame.small {
	float: left;
	width: 43%;
	border: 7px solid #fff;
	margin-bottom: 25px;
	-webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.blog_postcontent .image_frame.small:hover {
	border: 7px solid #f9f9f9;
}
.blog_postcontent .image_frame img {
	float: left;
	width: 99.7%;
	border: 1px solid #fff;
}
.blog_postcontent .video_frame.small iframe {
	float: left;
	width: 43%;
	height: 180px;
	border: 7px solid #fff;
	margin-bottom: 25px;
	-webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.blog_postcontent .video_frame iframe:hover {
	border: 7px solid #f9f9f9;
}
.post_info_content_small {
	padding: 0px;
	margin: 0 0 0 4%;
	width: 50%;
	float: left;
}
ul.post_meta_links_small {
	float: left;
	margin: -15px 0px 12px 80px;
	padding: 0px 0px 0px 0px;
	width: 80%;
}
.post_meta_links_small li i {
	color: #d3d3d3;
	margin-right: 4px;
}
.post_meta_links_small li.post_by {
	padding: 0px 0px 0px 0px;
	float: left;
}
.post_meta_links_small li.post_categoty {
	padding: 0px 0px 0px 10px;
	float: left;
}
.post_meta_links_small li.post_comments {
	padding: 0px 0px 0px 10px;
	float: left;
}
.post_meta_links_small li a {
	color: #a1a1a1;
	padding: 0px 5px 0px 0px;
	text-decoration: none;
	font-size: 11px;
}
.post_meta_links_small li a:hover {
	color: #727272;
	padding: 0px 5px 0px 0px;
	text-decoration: none;
	font-size: 11px;
}
.blog_post a.date {
	padding: 10px 5px 0px 0px;
	text-decoration: none;
	width: 55px;
	height: 55px;
	text-align: center;
	background: #f9f9f9;
	display: block;
	margin-right: 20px;
	float: left;
	-webkit-box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.blog_post a.date strong {
	color: #47738b;
	font-size: 27px;
	font-weight: normal;
	display: block;
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.blog_post a.date:hover strong {
	color: #333;
}
.blog_post a.date i {
	color: #fff;
	font-size: 11px;
	font-style: normal;
	padding: 0px 10px;
	display: block;
	border-top: 1px solid #f3f3f3;
	width: 40px;
	background-color: #47738b;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.blog_post a.date:hover i {
	background-color: #222628;
}
.post_readmore:link, .post_readmore:visited {
	float: right;
	height: 27px;
	width: 185px;
	text-align: center;
	padding-top: 7px;
	color: #fff;
	text-decoration: none;
	background: url(../images/skin01/but_post_readmore.html) no-repeat left top;
}
.post_readmore:hover {
	float: right;
	height: 27px;
	width: 185px;
	text-align: center;
	padding-top: 7px;
	color: #fff;
	text-decoration: none;
	background: url(../images/skin01/but_post_readmore_hover.html) no-repeat left top;
}
.sharepost {
	float: left;
	width: 80%;
	margin-bottom: 40px;
}
.sharepost ul {
	margin: 0px;
	padding: 0px;
}
.sharepost li {
	margin: 0px 7px 5px 0px;
	padding: 2px 5px;
	float: left;
	border-radius: 2px;
	list-style-type: none;
	background-color: #47738b;
}
.sharepost li i {
	color: #fff;
}
.sharepost li:hover {
	background-color: #222628;
}

.about_author {
	float: left;
	width: 93%;
	padding: 20px;
	background-color: #f9f9f9;
	border: 1px solid #eee;
}
.about_author img {
	float: left;
	margin-right: 20px;
}
.about_author a {
	font-family: 'Open Sans' !important;
	font-weight: normal;
	font-weight: 600;
	color: #333;
}
.about_author a:hover {
	color: #47738b;
}


/* pagination */
.pagination {
	clear:both;
	padding:10px 0;
	margin-bottom:20px;
	font-family: 'Open Sans', sans-serif;
}
.pagination b{
	float:left;
	margin: 0px 5px 2px 0;
	padding:0px 10px;
	font-weight: normal;
	color: #999;
}
.pagination a.navlinks {
	font-size: 12px;
	color: #454545;
	background-color: #eee;
	font-weight: 600;
	text-transform: uppercase;
	padding: 7px 10px;
	border-radius: 3px;
}
.pagination a.navlinks:hover {
	color: #fff;
	background-color: #454545;
}
.pagination a.current {
	color: #fff;
	background-color: #454545;
}

/* comment form */
.comment_form {
	float: left;
	width: 100%;
	margin-top: 30px;
}
.comment_form label{
	float: left;
	width: 90px;
	height: 15px;
	padding: 7px 10px;
	margin-bottom: 20px;
}
.comment_input_bg {
	float: left;
	width: 75%;
	height: 25px;
	padding: 7px 10px 0px 10px;
	border-top: 2px solid #e3e3e3;
	border-left: 2px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.comment_textarea_bg {
	float: left;
	width: 90%;
	height: 235px;
	padding: 7px 10px 0px 10px;
	margin-bottom: 20px;
	border-top: 2px solid #e3e3e3;
	border-left: 2px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.comment_checkbox {
	float: left;
	display: block;
	width: 90%;
	margin-top: 10px;
}
.comment_submit {
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 9px 13px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	border-radius: 4px;
	color: #333;
	text-transform: uppercase;
}
.comment_submit:hover {
	background-color: #f9f9f9;
	cursor: pointer;
}

/* comments */
.comment_wrap{
	padding:20px 20px 20px 0px;
	overflow:hidden;
	border-bottom:1px solid #eee;
}
.comment_wrap.chaild{
	border-bottom:1px solid #eee;
	margin:10px 20px 10px 50px;
	overflow:hidden;
}
.gravatar{
	float:left;
}

.comment_content{
	overflow:hidden;
	padding-left:20px;
	position:relative;
	min-height:80px; 
}
.comment_content .comment_meta{
	position:relative;
}
.comment_content .comment_meta .comment_author{
	display:inline;
	font-size:14px;
	font-style: normal;
}
.comment_content .comment_meta .comment_author i{
	display:inline;
	font-size:11px;
	font-style: italic;
}
.comment_content .comment_text {
	clear:both;
	padding-top:0px;
	overflow:hidden;
}
.comment_content .comment_text a {
	color: #d3d3d3;
	margin-top: 5px;
	float: left;
}
.comment_content .comment_text a:hover {
	color: #727272;
	margin-top: 5px;
	float: left;
}
#comments_section li ul li{
	margin-left: 30px;
}

/* contact form */
.comment_form {
	float: left;
	width: 690px;
	margin-top: 30px;
}
.blocklabel {
	float: left;
	width: 100%;
	display: block;
	margin-top: 10px;
}
.comment_form label{
	float: left;
	width: 90px;
	height: 15px;
	padding: 7px 10px;
	margin-bottom: 20px;
}
.input_bg {
	float: left;
	width: 70%;
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
	padding: 0px 0px 0px 10px;
	border-top: 2px solid #e1e1e1;
	border-left: 2px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.textarea_bg {
	float: left;
	width: 90%;
	height: 235px;
	padding: 7px 10px 0px 10px;
	margin-bottom: 20px;
	border-top: 2px solid #e1e1e1;
	border-left: 2px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}

.address-info {
	float: left;
	background-color: #f9f9f9;
	border: 1px solid #e1e1e1;
	padding: 20px 20px 10px 20px;
	width: 91%;
	margin-bottom: 40px;
}

.address-info a {
	color: #47738b;
}
.address-info a:hover {
	color: #454545;
}

.google-map {
	width: 99%;
	height: 350px;
	border: 5px solid #fff;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}


/* Portfolio Page */
.portfolio_page {
	padding: 0px;
	margin: 0px;
	float: left;
	width: 100%;
}
.portfolio_page h3 {
	color: #fff;
	text-align: center;
	width: 370px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	background-color: #35353d;
	float: left;
}
.portfolio_page .imgWrap {
    position: relative;
    width: 370px;
	height: 300px;
}
.portfolio_page .imgWrap.last {
	margin-right: 0px;
}
.portfolio_page .imgWrap img {
	float: left;
	width: 100%;
	height: 250px;
}
.portfolio_page .imgDescription {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(../images/elements/port-hover-zoom.png) no-repeat center -75px;
	color: #fff;
	visibility: hidden;
	opacity: 0;
}
.portfolio_page .imgWrap:hover .imgDescription {
	visibility: visible;
	opacity: 1;
}
.portfolio_page .imgDescription i {
	position: absolute;
	top: 103px;
	left: 160px;
	color: #fff;
	opacity: 0.8;
}


/*------------------*/
/*	RIGHT SIDEBAR
/*------------------------------------------------------*/
/* site search */
.site-search-area {
	margin: 0px;
	padding: 0px;
}
#site-searchform {
	margin: 0;
	padding: 0;
}
#site-searchform #s{
	border: 1px solid #eee;
	background-color: #fff;
	width: 71%;
	height:30px;
	padding:5px 10px 5px 10px;
	color: #999;
	float: left;
	font: normal 12px "Trebuchet MS", Helvetica, Arial, sans-serif;
}
#site-searchform #searchsubmit{
	float: left;
	width:50px;
	height:41px;
	cursor:pointer;
	text-indent:-5555em;
	line-height:100;
	overflow:hidden;
	background: #47738b url(../images/site-search-icon.png) no-repeat center 14px;
	border:0;
}
#site-searchform #searchsubmit:hover{
	background: #222628 url(../images/site-search-icon.png) no-repeat center 14px;
}

.sidebar_widget {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.sidebar_widget ul.arrows_list1{
	padding: 0px;
	margin: 0px;
	float: left;
	margin-top: -10px;
}
.sidebar_widget ul.arrows_list1 li a {
	color: #47738b;
	line-height: 30px;
}
.sidebar_widget ul.arrows_list1 li a:hover {
	color: #222628;
}
.sidebar_widget ul.arrows_list1 i {
	margin-right: 4px;
}
.sidebar_title {
	float: left;
	width: 100%;
}
.sidebar_widget h3, .clientsays_widget h3 {
	margin-bottom: 30px;
	float: left;
	font-weight: 300;
}
.sidebar_widget h3 i, .clientsays_widget h3 i {
	font-weight: 600;
	font-style: normal;
}

/* Recent Posts */
ul.recent_posts_list {
	margin: 0px;
	padding: 0px;
	width: 100%;
	float: left;
}
.recent_posts_list li {
	padding: 0px 0px 13px 0px;
	margin: 0px 0px 16px 0px;
	list-style-type: none;
	border-bottom: 1px solid #f5f6f6;
	float: left;
	width: 100%;
}
.recent_posts_list li a {
	text-decoration: none;
	line-height: 17px;
	display: block;
	color: #999;
}
.recent_posts_list li a:hover {
	color: #47738b;
}

.recent_posts_list li span {
	float: left;
	margin-right: 15px;
}
.recent_posts_list li span img {
	float: left;
	margin-right: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.recent_posts_list li span img:hover {
	float: left;
	margin-right: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.recent_posts_list li i {
	padding: 1px 0px 0px 0px;
	margin: 0px;
	display: block;
	font-size: 10px;
	font-style: normal;
	color: #c9c9c9;
}
.recent_posts_list li.last {
	padding: 0px 0px 7px 0px;
	margin: 0px 0px 0px 0px;
	border-bottom: 0px solid #f5f6f6;
}

/* client says widget */
.clientsays_widget {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
	color: #999;
}
.clientsays_widget strong {
	font-weight: 600;
	color: #454545;
}
.clientsays_widget h3 {
	margin-bottom: 18px;
}
.clientsays_widget img {
	float: left;
	margin-right: 13px;
	margin-top: 7px;
	border: 1px solid #e3e3e3;
}

/* Advertisements */
ul.adsbanner-list {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	float: left;
	width: 100%;
}
.adsbanner-list li {
	margin: 0px 10px 10px 0px;
	padding: 0px;
	float: left;
	width: 120px;
	height: 120px;
	list-style-type: none;
}
.adsbanner-list li img {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 120px;
	height: 120px;
	list-style-type: none;
}
.adsbanner-list li.last {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	float: left;
	width: 120px;
	height: 120px;
	list-style-type: none;
}




/*------------------*/
/* TYPOGRAPHY ELEMENTS
/*------------------------------------------------------*/

a.but_goback,
a.but_ok_2,
a.but_wifi,
a.but_warning_sign,
a.but_user,
a.but_tag,
a.but_table,
a.but_star,
a.but_search,
a.but_phone,
a.but_pencil,
a.but_new_window,
a.but_music,
a.but_hand_right,
a.but_thumbs_down,
a.but_thumbs_up,
a.but_globe,
a.but_hospital,
a.but_coffe_cup,
a.but_settings,
a.but_chat,
a.but_play_button,
a.but_remove_2,
a.but_lock,
a.but_shopping_cart,
a.but_exclamation_mark,
a.but_info,
a.but_question_mark,
a.but_minus,
a.but_plus,
a.but_folder_open,
a.but_file,
a.but_envelope,
a.but_edit,
a.but_cogwheel,
a.but_check,
a.but_camera,
a.but_calendar,
a.but_bookmark,
a.but_book,
a.but_download,
a.but_pdf,
a.but_word_doc,
a.but_woman {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

a.but_goback i {
	color: #fff;
}
a.but_goback {
	padding: 13px 25px 13px 22px;
	margin: 0px 0px 0px 0px;
	background: #47738b;
	border-bottom: 1px solid #999;
}
a.but_goback:hover {
	color: #fff;
	background-color: #222628;
}
a.but_ok_2 {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #ff8100;
	border-bottom: 1px solid #909090;
}
a.but_ok_2:hover {
	background-color: #ff9900;
}

a.but_wifi {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #0099cc;
	border-bottom: 1px solid #909090;
}
a.but_wifi:hover {
	background-color: #00abde;
}

a.but_warning_sign {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #e5cc19;
	border-bottom: 1px solid #909090;
}
a.but_warning_sign:hover {
	background-color: #efda1b;
}

a.but_user {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #007f99;
	border-bottom: 1px solid #909090;
}
a.but_user:hover {
	background-color: #0090ad;
}

a.but_tag {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #e59919;
	border-bottom: 1px solid #909090;
}
a.but_tag:hover {
	background-color: #efa61b;
}

a.but_table {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #4c6699;
	border-bottom: 1px solid #909090;
}
a.but_table:hover {
	background-color: #5674ad;
}

a.but_star {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #99cc4c;
	border-bottom: 1px solid #909090;
}
a.but_star:hover {
	background-color: #a6da52;
}

a.but_search {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #66667f;
	border-bottom: 1px solid #909090;
}
a.but_search:hover {
	background-color: #747490;
}

a.but_phone {
	padding: 10px 20px 10px 20px;
	margin: 0px 0px 0px 0px;
	background: #e56619;
	border-bottom: 1px solid #909090;
}
a.but_phone:hover {
	background-color: #ef6f1b;
}

a.but_pencil {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #cc4c19;
	border-bottom: 1px solid #909090;
}
a.but_pencil:hover {
	background-color: #da521b;
}

a.but_new_window {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #001900;
	border-bottom: 1px solid #909090;
}
a.but_new_window:hover {
	background-color: #333333;
}

a.but_music {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #cccc7f;
	border-bottom: 1px solid #909090;
}
a.but_music:hover {
	background-color: #dada8a;
}

a.but_hand_right {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #ff8100;
	border-bottom: 1px solid #909090;
}
a.but_hand_right:hover {
	color: #fff;
	background-color: #ff9900;
}

a.but_thumbs_down {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #9999cc;
	border-bottom: 1px solid #909090;
}
a.but_thumbs_down:hover {
	background-color: #a6a6da;
}

a.but_thumbs_up {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #00cce5;
	border-bottom: 1px solid #909090;
}
a.but_thumbs_up:hover {
	background-color: #00daef;
}

a.but_globe {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #669999;
	border-bottom: 1px solid #909090;
}
a.but_globe:hover {
	background-color: #6fa6a6;
}

a.but_hospital {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #196666;
	border-bottom: 1px solid #909090;
}
a.but_hospital:hover {
	background-color: #1b6f6f;
}

a.but_coffe_cup {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #7f994c;
	border-bottom: 1px solid #909090;
}
a.but_coffe_cup:hover {
	background-color: #8aa652;
}

a.but_settings {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #997f4c;
	border-bottom: 1px solid #909090;
}
a.but_settings:hover {
	background-color: #a68a52;
}

a.but_chat {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #7f9919;
	border-bottom: 1px solid #909090;
}
a.but_chat:hover {
	background-color: #8aa61b;
}

a.but_play_button {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #4c664c;
	border-bottom: 1px solid #909090;
}
a.but_play_button:hover {
	background-color: #567456;
}

a.but_remove_2 {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #e59966;
	border-bottom: 1px solid #909090;
}
a.but_remove_2:hover {
	background-color: #efa66f;
}

a.but_lock {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #994c19;
	border-bottom: 1px solid #909090;
}
a.but_lock:hover {
	background-color: #a6521b;
}

a.but_shopping_cart {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #cc7f4c;
	border-bottom: 1px solid #909090;
}
a.but_shopping_cart:hover {
	background-color: #da8a52;
}

a.but_exclamation_mark {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #4c7f7f;
	border-bottom: 1px solid #909090;
}
a.but_exclamation_mark:hover {
	background-color: #528a8a;
}

a.but_info {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #667fcc;
	border-bottom: 1px solid #909090;
}
a.but_info:hover {
	background-color: #6f8ada;
}

a.but_question_mark {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #4c0019;
	border-bottom: 1px solid #909090;
}
a.but_question_mark:hover {
	background-color: #620020;
}

a.but_minus {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #666666;
	border-bottom: 1px solid #909090;
}
a.but_minus:hover {
	background-color: #747474;
}

a.but_plus {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #333333;
	border-bottom: 1px solid #909090;
}
a.but_plus:hover {
	background-color: #444444;
}

a.but_folder_open {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #99cc99;
	border-bottom: 1px solid #909090;
}
a.but_folder_open:hover {
	background-color: #a6daa6;
}

a.but_file {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #999999;
	border-bottom: 1px solid #909090;
}
a.but_file:hover {
	background-color: #a6a6a6;
}

a.but_envelope {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #727272;
	border-bottom: 1px solid #909090;
}
a.but_envelope:hover {
	background-color: #7c7c7c;
}

a.but_edit {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #e5cc7f;
	border-bottom: 1px solid #909090;
}
a.but_edit:hover {
	background-color: #efda8a;
}

a.but_cogwheel {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #194c7f;
	border-bottom: 1px solid #909090;
}
a.but_cogwheel:hover {
	background-color: #1e5c99;
}

a.but_check {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #004c4c;
	border-bottom: 1px solid #909090;
}
a.but_check:hover {
	background-color: #005c5c;
}

a.but_camera {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #007fcc;
	border-bottom: 1px solid #909090;
}
a.but_camera:hover {
	background-color: #008ada;
}

a.but_calendar {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #4c99e5;
	border-bottom: 1px solid #909090;
}
a.but_calendar:hover {
	background-color: #52a6ef;
}

a.but_bookmark {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #990000;
	border-bottom: 1px solid #909090;
}
a.but_bookmark:hover {
	background-color: #b60000;
}

a.but_book {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #7f9999;
	border-bottom: 1px solid #909090;
}
a.but_book:hover {
	background-color: #8aa6a6;
}

a.but_download {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #ff8100;
	border-bottom: 1px solid #909090;
}
a.but_download:hover {
	background-color: #ff9900;
}

a.but_pdf {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #ff8100;
	border-bottom: 1px solid #909090;
}
a.but_pdf:hover {
	background-color: #ff9900;
}

a.but_word_doc {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #ff8100;
	border-bottom: 1px solid #909090;
}
a.but_word_doc:hover {
	background-color: #ff9900;
}

a.but_woman {
	padding: 10px 22px 10px 22px;
	margin: 0px 0px 0px 0px;
	background: #ff8100;
	border-bottom: 1px solid #909090;
}
a.but_woman:hover {
	background-color: #ff9900;
}


/* styled boxes */
.info, .error, .notice, .success {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #bbb;
	margin-bottom: 20px;
	font-size: 13px;
}
p.error {
	border: none;
}
.info strong, .error strong, .notice strong, .success strong {
	font-size: 16px;
}
.message-box-wrap {
	border: 0px solid #fff;
	padding:10px;
}
.message-box-wrap p,.message-box-wrap ul > li{
	font-size: 14px !important;
}
.info {
	color: #4a84bc;
	border-color: #c6e3ff;
	background-color: #e6f3ff;
}
.error {
	color: #bd6767;
	border-color: #f1bdbd;
	background-color: #ffdddd;
}
.notice {
	color: #a79a30;
	border-color: #d7d099;
	background-color: #f6f2d2;
}
.success {
	color: #1ea133;
	border-color: #a9ecb4;
	background-color: #dffbe4;
}
.close-but {
	width: 10px;
	height: 10px;
	float: right;
	border: none;
	margin: 5px;
	background: url(../images/elements/icon-remove.png) no-repeat center top;
}

/* dropcaps */

.dropcap1, .dropcap2, .dropcap3 {
	float: left;
	text-align: center;
	overflow:hidden;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.dropcap1 {
	width: 53px;
	height:	58px;
	line-height: 50px;
	background:url(../images/elements/dropcap_gray.png) no-repeat scroll 0px 0px transparent;
	color: #999;
	margin:0 8px -4px 0;
	font-size: 32px;
}
.dropcap1.gray {
	background-image:url(../images/elements/dropcap_gray.png);
}
.dropcap2 {
	background:url(../images/elements/dropcap_gray.png) no-repeat scroll 0 -108px transparent;
	color:#999;
	line-height: 47px;
	height: 56px;
	width: 53px;
	margin:0 8px -4px 0;
	font-size:32px;
}
.dropcap2.gray {
	background-image:url(../images/elements/dropcap_gray.png);
}
.dropcap3 {
	font-size:40px;
	line-height: 40px;
	width:44px;
	height:44px;
	margin:0 0 -4px 0;
}
.dropcap3.gray {
	color: #999;
}


/* styled lists */
ul.list1 {
	padding: 0px;
	margin: 0px;
}
.list1 li {
	padding: 0px;
	margin: 0px;
	text-align: left;
	line-height: 30px;
}
.list1 li i {
	padding: 0px;
	margin: 0px 4px 0px 0px;
}


/* highlight colors */
.highlight {
	color: #fff;
	padding: 2px 5px;
	background: #000;
	border-radius:3px;
}
.highlight.black {
	background: #000;
	border-radius:3px;
}
.highlight.red {
	background: #ff0000;
	border-radius:3px;
}
.highlight.gray {
	background: #aaa;
}
.highlight.yellow {
	background: #fff000;
}
.highlight.blue {
	background: #0099cc;
}
.highlight.pink {
	background: #e826b4;
}
.highlight.green {
	background: #48b02b;
}
.highlight.orange {
	background: #ffcc00;
}
.highlight.magenta {
	background: #9325ea;
}


/* buttons */
.button, button {	
    text-decoration:none;
	text-align:center;
	color:#585656;
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height:32px;
	line-height:32px;
	padding:0px 15px;
	position:relative;
	outline: none;
	overflow: hidden; /* removes extra side padding in IE */
	cursor: pointer;
	border: 1px solid #dcdcdc;/* IE */
	border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
	border-bottom:rgba(0, 0, 0, .4) 1px solid;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;

	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center top,
		center bottom,
		from(rgba(255, 255, 255, .1)),
		to(rgba(0, 0, 0, .1))
	);/* Saf4+, Chrome */
	
	background-color:white;
}

.button::-moz-focus-inner {
    border: none; /* overrides extra padding in Firefox */
}

.button:hover, .button.hover, .page-numbers:hover  {
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .2) 0%,
		rgba(255, 255, 255, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(255, 255, 255, .1)),
		to(rgba(255, 255, 255, .2))
	);/* Saf4+, Chrome */
}
.button:active, .button.active, .page-numbers:active {
	top:2px;
	background: -moz-linear-gradient(
		center top,
		rgba(0, 0, 0, .1) 0%,
		rgba(255, 255, 255, .2) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(255, 255, 255, .2)),
		to(rgba(0, 0, 0, .1))
	);/* Saf4+, Chrome */

}

.button.full{
	display: block;
}

.button.small{
	font-size:13px;
}
.button.medium{
	font-size:13px;
	height:40px;
	line-height:40px;
}
.button.large{
	font-size:16px;
	height:50px;
	line-height:50px;
}


/* styled buttons */
.button.red {
	background-color: #ff0000;
	color: #fff;
}
.button.blue {
	background-color: #117ed1;
	color: #fff;
}
.button.lightblue {
	background-color: #0099cc;
	color: #fff;
}
.button.green {
	background-color: #009933;
	color: #fff;
}
.button.black {
	background-color: #333;
	color: #fff;
}
.button.orange {
	background-color: #ff8100;
	color: #fff;
}
.button.darkgray {
	background-color: #818181;
	color: #fff;
}
.button.gray {
	background-color: #f0f0f0;
	color: #000;
}

/* tables */
.table-style {
	float: left;
	width: 100%;
}
.table-list {
	float: left;
	background-color: #fff;
	border: 1px solid #dddddd;
	margin-bottom:20px;
	width: 100%;
}
.table-list th {
	padding: 18px 10px;
	background-color: #eee;
}
.table-list td {
	padding: 13px 10px;
	text-align: center;
	background-color: #f5f5f5;
}
.table-list tr:hover td {
	background-color: #f9f9f9;
}

ul.list_empty {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
.list_empty li {
	float: left;
	padding: 0px;
	margin: 0px 20px 35px 0px;
}


/* pricing tables */
.pricing-tables-main {
	position: relative;
	float: left;
	margin-bottom: 40px;
}

.pricing-tables {
	position: relative;
	float: left;
	width: 24%;
	border: 1px solid #eee;
}
.pricing-tables .title {
	float: left;
	width: 100%;
	height: 30px;
	padding: 13px 0 10px 0;
	background-color: #454545;
	text-align: center;
	font-size: 23px;
	color: #fff;
	border-top: 3px solid #272727;
	border-bottom: 1px solid #818181;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.pricing-tables .price {
	float: left;
	width: 100%;
	padding: 30px 0 30px 0;
	background-color: #636363;
	text-align: center;
	font-size: 40px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.pricing-tables .price i {
	font-size: 14px;
	color: #ccc;
	display: block;
	font-weight: normal;
	font-style: normal;
	margin-top: 5px;
}
.pricing-tables .cont-list {
	float: left;
	width: 100%;
	padding: 15px 0;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background-color: #f9f9f9;
	text-align: center;
	color: #727272;
}
.pricing-tables .cont-list ul {
	margin: 0;
	padding: 0;
}
.pricing-tables .cont-list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 30px;
	border-bottom: 1px solid #fff;
}
.pricing-tables .cont-list li.last {
	border: none;
}
.pricing-tables .ordernow {
	float: left;
	width: 100%;
	padding: 28px 0px;
	background-color: #eee;
	text-align: center;
	color: #fff;
}
.pricing-tables-main .ordernow .normalbut{
	color: #fff;
	background-color: #666;
	border: 1px solid #454545;
	padding: 10px 18px;
	border-radius: 3px;
	font-weight: normal;
}
.pricing-tables-main .ordernow .normalbut:hover{
	background-color: #727272;
}
.pricing-tables-main .ordernow .colorchan{
	color: #fff;
	background-color: #47738b;
	padding: 10px 18px;
	border-radius: 3px;
	font-weight: normal;
}
.pricing-tables-main .ordernow .colorchan:hover{
	color: #fff;
	background-color: #3a647c;
}
.pricing-tables-helight{
	position: relative;
	float: left;
	width: 27%;
	z-index: 3;
	-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
.pricing-tables-helight .title {
	float: left;
	width: 100%;
	height: 46px;
	padding: 20px 0 0 0;
	margin-top: -10px;
	background-color: #416c84;
	text-align: center;
	font-size: 23px;
	color: #fff;
	border-top: 3px solid #3a647c;
	border-bottom: 1px solid #527c94;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.pricing-tables-helight .price {
	float: left;
	width: 100%;
	padding: 30px 0 30px 0;
	background-color: #47738b;
	text-align: center;
	font-size: 45px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.pricing-tables-helight .price i {
	font-size: 14px;
	color: #eee;
	display: block;
	font-weight: normal;
	font-style: normal;
	margin-top: 5px;
}
.pricing-tables-helight .cont-list {
	float: left;
	width: 100%;
	padding: 15px 0;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background-color: #f9f9f9;
	text-align: center;
	color: #727272;
}
.pricing-tables-helight .cont-list ul {
	margin: 0;
	padding: 0;
}
.pricing-tables-helight .cont-list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 30px;
	border-bottom: 1px solid #fff;
}
.pricing-tables-helight .cont-list li.last {
	border: none;
}
.pricing-tables-helight .ordernow {
	float: left;
	width: 100%;
	padding: 30px 0 35px 0;
	background-color: #eee;
	text-align: center;
	color: #fff;
}

.pricing-tables-two {
	position: relative;
	float: left;
	width: 33%;
	border: 1px solid #eee;
}
.pricing-tables-two .title {
	float: left;
	width: 100%;
	height: 30px;
	padding: 13px 0 10px 0;
	background-color: #454545;
	text-align: center;
	font-size: 23px;
	color: #fff;
	border-top: 3px solid #272727;
	border-bottom: 1px solid #818181;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.pricing-tables-two .price {
	float: left;
	width: 100%;
	padding: 30px 0 30px 0;
	background-color: #636363;
	text-align: center;
	font-size: 40px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.pricing-tables-two .price i {
	font-size: 14px;
	color: #ccc;
	display: block;
	font-weight: normal;
	font-style: normal;
	margin-top: 5px;
}
.pricing-tables-two .cont-list {
	float: left;
	width: 100%;
	padding: 15px 0;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background-color: #f9f9f9;
	text-align: center;
	color: #727272;
}
.pricing-tables-two .cont-list ul {
	margin: 0;
	padding: 0;
}
.pricing-tables-two .cont-list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 30px;
	border-bottom: 1px solid #fff;
}
.pricing-tables-two .cont-list li.last {
	border: none;
}
.pricing-tables-two .ordernow {
	float: left;
	width: 100%;
	padding: 28px 0;
	background-color: #eee;
	text-align: center;
	color: #fff;
}

.pricing-tables-helight-two{
	position: relative;
	float: left;
	width: 33%;
	z-index: 3;
	-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
.pricing-tables-helight-two .title {
	float: left;
	width: 100%;
	height: 46px;
	padding: 20px 0 0 0;
	margin-top: -10px;
	background-color: #416c84;
	text-align: center;
	font-size: 23px;
	color: #fff;
	border-top: 3px solid #3a647c;
	border-bottom: 1px solid #527c94;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.pricing-tables-helight-two .price {
	float: left;
	width: 100%;
	padding: 30px 0 30px 0;
	background-color: #47738b;
	text-align: center;
	font-size: 45px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.pricing-tables-helight-two .price i {
	font-size: 14px;
	color: #eee;
	display: block;
	font-weight: normal;
	font-style: normal;
	margin-top: 5px;
}
.pricing-tables-helight-two .cont-list {
	float: left;
	width: 100%;
	padding: 15px 0;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background-color: #f9f9f9;
	text-align: center;
	color: #727272;
}
.pricing-tables-helight-two .cont-list ul {
	margin: 0;
	padding: 0;
}
.pricing-tables-helight-two .cont-list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 30px;
	border-bottom: 1px solid #fff;
}
.pricing-tables-helight-two .cont-list li.last {
	border: none;
}
.pricing-tables-helight-two .ordernow {
	float: left;
	width: 100%;
	padding: 30px 0 35px 0;
	background-color: #eee;
	text-align: center;
	color: #fff;
}

/* columns with box */
.framed-box {
	border: 1px solid #e3e3e3;
	width: 100%;
}
.framed-box.center{
	text-align:center;
}
.framed-box-wrap {
	border: 1px solid #fff;
	background-color: #f9f9f9;
}
.framed-box-wrap .pricing-title {
	background-color: #f1f1f1;
	padding: 20px 0px 0px 0px;
	text-align: center;
	border-bottom: 1px solid #fff;
}
.framed-box-wrap .pricing-text-list {
	padding: 15px 20px 40px 20px;
	text-align: center;
}


/* testimonials */
.testimonials-5 {
	float: left;
}
.testimonials-5 span {
	float: left;
}

.testimonials-4 {
	float: left;
}

.testimonials-4 .content {
	float: left;
	padding: 20px 20px 25px 20px;
	border: 1px solid #eee;
	background-color: #f9f9f9;
	border-radius: 5px;
}
.testimonials-4 .content i {
	font-size: 11px;
	color: #909090;
	text-transform: none;
}

.testimonials-2 {
	float: left;
}
.testimonials-2 span {
	float: left;
	line-height: 21px;
	padding: 20px 30px 20px 30px;
	border: 1px solid #eee;
	background: #f9f9f9;
}

/* section 1 */
ul.lirc_section {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
.lirc_section li {
	float: left;
	padding: 0px;
	margin: 0px;
}
.lirc_section li.left {
	float: left;
	padding: 0px;
	margin: 0 8% 0 0;
	width: 90px;
	height: 90px;
	line-height: 110px;
	text-align: center;
	vertical-align: middle;
	background-color: #f3f3f3;
	border-radius: 100%;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 0px 0px #FFF;
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 0px 0px #FFF;
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 0px 0px #FFF;
}
.lirc_section li.left i {
	color: #47738b;
}
.lirc_section li.right {
	float: left;
	padding: 0px;
	margin: 0;
	width: 60.7%;
}
.lirc_section li.left.two {
	padding: 0px;
	margin: 0 0 0 35%;
	width: 65px;
	height: 65px;
	line-height: 75px;
	text-align: center;
	vertical-align: middle;
	background-color: #f3f3f3;
	border-radius: 100%;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 0px 0px #FFF;
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 0px 0px #FFF;
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 0px 0px #FFF;
}
.lirc_section li.right.two {
	float: left;
	padding: 0px;
	margin: 0;
	width: 100%;
	text-align: center;
}
.lirc_section li.right.two h3 {
	margin-top: 20px;
}

.punchline_text_box, .text_box {
	float: left;
	width: 95.400%;
	padding: 30px 20px;
	margin: 0px;
	border: 1px solid #eee;
	border-left: 5px solid #999999;
	color: #999;
	background: #f9f9f9;
	overflow: hidden;
}
.text_box {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #eee;
	background: #eeeeee;
	margin-left: 1%;
}
#school-year-schedule-box {
	border-left: 5px solid #bb5555;
}
#summer-schedule-box {
	border-left: 5px solid #eed599;
}
#school-year-calendar-box {
	border-left: 5px solid #559955;
}
#summer-calendar-box {
	border-left: 5px solid #47738b;
}

.punchline_text_box strong {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 18px;
	color: #222628;
}

.punchline_text_box .left {
	float: left;
	position: relative;
	width: 50%;
	height: 100%;
}
.punchline_text_box .right {
	float: left;
	position: relative;
	width: 50%;
	height: 100%;
}

div.chooser {
	display: inline;
	position: relative;
	width: 100%;
	height: 100%;
	right: 130px;
}

.selected {
	background: #e0e0e0;
	position: relative;
	float: right;
	width: 100%;
	border: 0px;
	padding: 13px 1% 13px 1%;
	margin-top: 1px;
	cursor: pointer;
}
.schedule-chooser {
	display: none;
	position: relative;
	cursor: pointer;
}
.schedule-chooser li {
	position: relative;
	float: right;
	width: 100%;
	padding: 5px 1% 5px 1%;
	background: #e0e0e0;
	color: black;
}
.schedule-chooser li:hover, .selected:hover {
	background: #222;
	color: #e0e0e0;
}

a.knowmore_but {
	position: absolute;
	top: 0px;
	right: 0px;
	float: right;
	padding: 13px 20px 13px 20px;
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	background-color: #47738b;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-bottom: 1px solid #999;
}
a.knowmore_but:hover {
	color: #fff;
	background-color: #222628;
}

.bottom_buts {
	float: left;
	margin-left: 30%;
	text-align: center;
}
.bottom_buts a {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	background-color: #47738b;
	border-radius: 4px;
	padding: 12px 22px;
	font-weight: 300;
	float: left;
	margin-top: 35px;
}
.bottom_buts a:hover {
	background-color: #999;
}
.bottom_buts img {
	float: left;
	width: 26px;
	height: 62px;
	margin: 28px 13px 0px 13px;
}

/* parallax section 1 */
.para_sec01 {
	float: left;
	width: 100%;
	padding: 40px 0px 30px 0px;
	text-align: center;
	background: #eee url(../images/para-bg1.html) repeat-y center top;
}
.para_sec01 .link-list{
    text-align: left;
}
.para_sec01 .link-list i{
    font-size: 8px;
    margin-right: 5px;
    line-height: 20px;
    float: left;
}
.para_sec01 p{
    text-align: left;
    text-indent: 2em;
    margin-bottom: 5px;
}
/*
.para_sec01 b {
	font-weight: bold;
	font-size: 27px;
	padding: 18px 0px;
	font-family: 'Open Sans', sans-serif;
	color: #222628;
	display: block;
	margin-bottom: 27px;
}
.para_sec01 b em {
	margin-top: 13px;
	font-size: 18px;
	font-style: normal;
	display: block;
	font-weight: normal;
}
.para_sec01 a {
	color: #fff;
	border-radius: 5px;
	background-color: #40d172;
	padding: 16px 27px;
	font-size: 18px;
	font-weight: bold;
	border: 1px solid #2fc061;
	text-transform: uppercase;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.para_sec01 a:hover {
	color: #fff;
	background-color: #282b2e;
	border: 1px solid #282b2e;
}*/


/* scroll up */
.scrollup{
    width:40px;
    height:40px;
    opacity:1;
    position:fixed;
    bottom:22px;
    right:20px;
    display:none;
    text-indent:-9999px;
    background: url(../images/scroll-top-arrow.png) no-repeat left top;
	z-index: 999;
}
.font-red{
    color: #c30;
}


.tab-col-list{
    overflow: hidden;
}
.tab-col-list table td{
    padding: 3px 10px;
}


.centered-video-container {
	position: relative;
	left: 0px;
	width: 20000px;
}
.centered-video-container .video-frame {
	display: inline-block;
}
.centered-video-container div{
	padding-right: 20px;
}
.centered-video-container div video {
	/*padding-right: 20px;*/
	background-color: black;
}
.centered-video-container div .video-title {
	position: absolute;
	width: 800px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	color: white;
	background-color: black;
	opacity: 0.25;
}
/*.centered-video-container div .video-title:hover {
	opacity: 0.75;
}*/

.scroll {
	display: inline-block;
	width: 5%;
	height: 450px;
	background: #cccccc;
	cursor: pointer;
}
.scroll h1 {
	position: relative;
	top: 50%;
	transform: translate(0, -80%);
	margin: 30%;
}
.scroll:hover{
	background: #999999;
}
#scroll-left {
	float: left;
}
.scroll-left:hover {
	background: #999999;
}
.video-container-window {
	display: inline-block;
	position: relative;
	width: 90%;
	overflow: hidden;
}
#scroll-right {
	float: right;
}

/*------------------*/
/*    Testimonial Button
/*------------------------------------------------------*/

@font-face {
    font-family: "open";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#testimonial-link {
	display: block;
	margin: auto;
	margin-top: 50px;
	text-decoration: none;
	color: inherit;
    font-weight: bolder;
    font-size: larger;
    font: 18px 'Open Sans', sans-serif;
}

@keyframes linear {
	
	from {
		background-position: 0 0;
	}
	to {
		background-position: 200px 0;
	}
	
}

@keyframes radial {
	
	from {
		background-position: 0 0;
	}
	to {
		background-position: 0 60px;
	}
	
}

@keyframes repeating {
	
	from {
		background-position: 0 0;
	}
	to {
		background-position: 0 85px;
	}
	
}

@keyframes electronic {
	
	0%, 100% {
		background-position: 20px -30px;
	}
	25% {
		background-position: 150px 5px;
	}
	50% {
		background-position: 20px 40px;
	}
	75% {
		background-position: -100px 5px;
	}
	
}

.biliboard {
	width: 700px;
	padding: 20px;
	text-align: center;
	position: relative;
	background: #fff;
	color: #333;
	font: 13px open, tahoma;
}
.biliboard:before {
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	border-radius: 3px;
	transform: scale( 1.02, 1.08 );
	position: absolute;
	background: #f00;
	background: linear-gradient( 90deg, #fafafa, #fafafa, #1D8EF7, #fafafa, #fafafa );
	background-position: 55px 0;
	top: 0;
	animation: linear 1s infinite linear;
	left: 0;
	z-index: -1;
}

.biliboard.radial:before {
	background: radial-gradient( #fafafa, #fafafa, #F2A61A, #fafafa, #fafafa );
	animation: radial 1s infinite linear;
}

.biliboard.repeating:before {
	background: repeating-linear-gradient( -45deg, #fafafa, #fafafa 30px, #5FC914 30px, #5FC914 60px ) fixed;
	animation: repeating 1s infinite linear;
}

.biliboard.electronic:before {
	background: radial-gradient( #EA238D, #EA238D, #EA238D, #EA238D, #fafafa, #fafafa ) no-repeat;
	background-size: 150px 50px;
	animation: electronic 2s infinite linear;
}