.message-box-wrap input,.signature input{
    color:#333;
    border:1px solid #333;
    background-color:#fff;
    padding: 2px;
    width: 580px;
}
.message-box-wrap input[type="radio"]{
    width: auto !important;
    background-color:transparent !important;
}
.message-box-wrap .error,.signature .error{
    color:#333;
    border-color:transparent;
    background-color:transparent;
    margin-bottom: 0 !important;
}
.message-box-wrap input.error ,.signature input.error {
    color:#333;
    height: 20px;
    border:1px solid #C66161;
    background-color:#fff;
    margin: 0 5px 0 0;
}
.message-box-wrap label.error {
    color:#C66161;
}

.message-box-wrap .success,.signature .success{
    color:#333;
    border-color:transparent;
    background-color:transparent;
    margin-bottom: 0 !important;
}

.message-box-wrap input.success ,.signature input.success{
    background-color:#fff;
}

.signature li:first-child{
    margin-bottom: 5px;
}
.signature li .error{
    color:#C66161
}
.check-list{
    margin: 0;
}
.check-list li{
    line-height: 20px;
    overflow: hidden;
}
.check-list li font{
    margin: 0 5px 0 0;
}
.check-list li input[type="radio"]{
    width: auto !important;
    background-color:transparent !important;
    height: 13px;
    padding: 0;
    margin: 4px 5px 0 0;
}

.check-list li input[type="radio"].error {
    width: auto !important;
    background-color:transparent !important;
}


.form-btn{
    background: #09c;
    color: #fff;
}
.pull-left{
    float: left;
}
.pull-right{
    float:right;
}